In [1]:
import os
import pandas as pd

In [2]:
merged_2020=pd.read_parquet("merged_2020.parquet")

In [3]:
merged_2020

                시리얼              등록일자  기온(℃)  상대습도( %)
0       V02Q1940043  2020-11-09 12:43   10.4      21.0
1       V02Q1940044  2020-11-09 12:43    7.7      24.0
2       V02Q1940046  2020-11-09 12:43   10.2      23.0
3       V02Q1940047  2020-11-09 12:43   10.0      21.0
4       V02Q1940045  2020-11-09 12:43    7.4      24.0
...             ...               ...    ...       ...
860095  V02Q1940951  2021-01-03 23:07    NaN      36.0
860096  V02Q1941013  2021-01-03 23:07    NaN      34.0
860097  V02Q1940955  2021-01-03 23:07    NaN      36.0
860098  V02Q1941015  2021-01-03 23:07    NaN      35.0
860099  V02Q1941006  2021-01-03 23:07    NaN      39.0

[860100 rows x 4 columns]

In [4]:
df_200401=pd.read_csv(r"S-DoT_NATURE_2020년(2020.04.01~2021.01.03)\S-DoT_NATURE_2020.04.01-04.30.csv",encoding='cp949')

In [5]:
df_200501=pd.read_csv(r"S-DoT_NATURE_2020년(2020.04.01~2021.01.03)\S-DoT_NATURE_2020.05.01-05.31.csv",encoding='cp949')

In [6]:
df_200601=pd.read_csv(r"S-DoT_NATURE_2020년(2020.04.01~2021.01.03)\S-DoT_NATURE_2020.06.01-06.30.csv",encoding='cp949')

In [7]:
df_200701=pd.read_csv(r"S-DoT_NATURE_2020년(2020.04.01~2021.01.03)\S-DoT_NATURE_2020.07.01-07.31.csv",encoding='cp949')

In [8]:
df_200801=pd.read_csv(r"S-DoT_NATURE_2020년(2020.04.01~2021.01.03)\S-DoT_NATURE_2020.08.01-08.31.csv",encoding='cp949')

In [56]:
df_200901=pd.read_csv(r"S-DoT_NATURE_2020년(2020.04.01~2021.01.03)\S-DoT_NATURE_2020.09.01-09.30.csv",encoding='cp949')

In [10]:
df_201001=pd.read_csv(r"S-DoT_NATURE_2020년(2020.04.01~2021.01.03)\S-DoT_NATURE_2020.10.01-10.31.csv",encoding='cp949')

In [11]:
df_201101=pd.read_csv(r"S-DoT_NATURE_2020년(2020.04.01~2021.01.03)\S-DoT_NATURE_2020.11.01-11.08.csv",encoding='cp949')

In [12]:
df_200401.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 온도(℃),전송시간,등록일자
0,서울시,SDOT001,V02Q1940043,1,14,37.0,0,0,0,0,...,46.0,-,-,1,-,-,1,NaN,2020.4.1 1:00,2020.4.1 1:00
1,서울시,SDOT001,V02Q1940043,1,16.6,28.0,0,0,0,0,...,46.0,-,-,1,-,-,1,NaN,2020.4.1 12:00,2020.4.1 12:00
2,서울시,SDOT001,V02Q1940043,1,15,16.0,0,0,0,0,...,44.0,-,-,0.93,-,-,0.93,NaN,2020.4.1 18:00,2020.4.1 18:00
3,서울시,SDOT001,V02Q1940043,1,9,49.0,0,0,0,0,...,44.0,-,-,1,-,-,1,NaN,2020.4.2 0:00,2020.4.2 0:00
4,서울시,SDOT001,V02Q1940043,1,7.7,53.0,0,0,0,0,...,43.0,-,-,0.96,-,-,0.96,NaN,2020.4.2 6:00,2020.4.2 6:00

In [30]:
print(df_200401.columns.tolist())

['기관 명', '모델명', '시리얼', '구분', ' 기온(℃) ', '상대습도( %)', '풍향(°)', '풍속(m/s)', '돌풍 풍향(°)', '돌풍 풍속(m/s)', '조도(lux)', '자외선(UVI)', '소음(dB)', ' 진동_x(g) ', ' 진동_y(g) ', ' 진동_z(g) ', ' 진동_x 최대(g) ', ' 진동_y 최대(g) ', ' 진동_z 최대(g) ', '흑구 온도(℃)', '전송시간', '등록일자']

In [31]:
# 형식 맞추기
df_200401.rename(columns={
     ' 기온(℃) ' :'기온(℃)',
    '상대습도(%)':'상대습도( %)'
}, inplace=True)

In [32]:
df_200401.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 온도(℃),전송시간,등록일자
0,서울시,SDOT001,V02Q1940043,1,14,37.0,0,0,0,0,...,46.0,-,-,1,-,-,1,NaN,2020.4.1 1:00,2020.4.1 1:00
1,서울시,SDOT001,V02Q1940043,1,16.6,28.0,0,0,0,0,...,46.0,-,-,1,-,-,1,NaN,2020.4.1 12:00,2020.4.1 12:00
2,서울시,SDOT001,V02Q1940043,1,15,16.0,0,0,0,0,...,44.0,-,-,0.93,-,-,0.93,NaN,2020.4.1 18:00,2020.4.1 18:00
3,서울시,SDOT001,V02Q1940043,1,9,49.0,0,0,0,0,...,44.0,-,-,1,-,-,1,NaN,2020.4.2 0:00,2020.4.2 0:00
4,서울시,SDOT001,V02Q1940043,1,7.7,53.0,0,0,0,0,...,43.0,-,-,0.96,-,-,0.96,NaN,2020.4.2 6:00,2020.4.2 6:00

In [33]:
df_200401=df_200401[['시리얼', '등록일자','기온(℃)', '상대습도( %)']]
df_200401

                시리얼            등록일자 기온(℃)  상대습도( %)
0       V02Q1940043   2020.4.1 1:00    14      37.0
1       V02Q1940043  2020.4.1 12:00  16.6      28.0
2       V02Q1940043  2020.4.1 18:00    15      16.0
3       V02Q1940043   2020.4.2 0:00     9      49.0
4       V02Q1940043   2020.4.2 6:00   7.7      53.0
...             ...             ...   ...       ...
608600  V02Q1941015  2020.4.2 17:00  19.3      16.0
608601  V02Q1941015  2020.4.2 23:00    16      31.0
608602  V02Q1941015   2020.4.3 5:00  13.7      49.0
608603  V02Q1941015   2020.4.3 9:00  16.2      39.0
608604  V02Q1941015  2020.4.3 17:00  20.9       1.0

[608605 rows x 4 columns]

In [34]:
df_200501.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 온도(℃),전송시간,등록일자
0,서울시,SDOT001,V02Q1940488,1,18.7,73.0,NaN,NaN,NaN,NaN,...,52.0,0.02,0.04,1.04,0.09,0.11,1.11,NaN,2020.5.1 1:28,2020.5.1 1:28
1,서울시,SDOT001,V02Q1940489,1,19.4,70.0,NaN,NaN,NaN,NaN,...,43.0,0.04,0.03,1.05,0.10,0.13,1.13,NaN,2020.5.1 1:28,2020.5.1 1:28
2,서울시,SDOT001,V02Q1940490,1,19.1,73.0,NaN,NaN,NaN,NaN,...,50.0,0.03,0.12,1.05,0.10,0.18,1.11,NaN,2020.5.1 1:28,2020.5.1 1:28
3,서울시,SDOT001,V02Q1940491,1,19.7,70.0,NaN,NaN,NaN,NaN,...,46.0,0.03,0.10,1.05,0.10,0.16,1.13,NaN,2020.5.1 1:28,2020.5.1 1:28
4,서울시,SDOT001,V02Q1940492,1,18.5,75.0,NaN,NaN,NaN,NaN,...,50.0,0.03,0.02,1.09,0.10,0.13,1.17,NaN,2020.5.1 1:28,2020.5.1 1:28

In [35]:
# 형식 맞추기
df_200501.rename(columns={
     ' 기온(℃) ' :'기온(℃)',
    '상대습도(%)':'상대습도( %)'
}, inplace=True)

In [36]:
df_200501=df_200501[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_200501

                시리얼             등록일자  기온(℃)  상대습도( %)
0       V02Q1940488    2020.5.1 1:28   18.7      73.0
1       V02Q1940489    2020.5.1 1:28   19.4      70.0
2       V02Q1940490    2020.5.1 1:28   19.1      73.0
3       V02Q1940491    2020.5.1 1:28   19.7      70.0
4       V02Q1940492    2020.5.1 1:28   18.5      75.0
...             ...              ...    ...       ...
596974  V02Q1940583  2020.5.31 23:08   19.7      79.0
596975  V02Q1940584  2020.5.31 23:08   20.3      76.0
596976  V02Q1940585  2020.5.31 23:08   19.7      79.0
596977  V02Q1940586  2020.5.31 23:08   19.2      80.0
596978  V02Q1940587  2020.5.31 23:08   20.6      73.0

[596979 rows x 4 columns]

In [37]:
df_200601.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 온도(℃),전송시간,등록일자
0,서울시,SDOT001,V02Q1940281,1,19.3,84.0,NaN,NaN,NaN,NaN,...,54.0,0.06,0.11,1.03,0.13,0.17,1.10,NaN,2020.6.1 1:08,2020.6.1 1:08
1,서울시,SDOT001,V02Q1940282,1,18.8,88.0,NaN,NaN,NaN,NaN,...,44.0,0.02,0.04,1.02,0.07,0.11,1.10,NaN,2020.6.1 1:08,2020.6.1 1:08
2,서울시,SDOT001,V02Q1940283,1,18.8,87.0,NaN,NaN,NaN,NaN,...,49.0,0.02,0.09,1.05,0.09,0.16,1.14,NaN,2020.6.1 1:08,2020.6.1 1:08
3,서울시,SDOT001,V02Q1940284,1,19.1,86.0,NaN,NaN,NaN,NaN,...,46.0,0.03,0.08,1.05,0.09,0.14,1.13,NaN,2020.6.1 1:08,2020.6.1 1:08
4,서울시,SDOT001,V02Q1940285,1,19.8,83.0,NaN,NaN,NaN,NaN,...,46.0,0.02,0.13,1.05,0.08,0.19,1.13,NaN,2020.6.1 1:08,2020.6.1 1:08

In [38]:
# 형식 맞추기
df_200601.rename(columns={
     ' 기온(℃) ' :'기온(℃)',
    '상대습도(%)':'상대습도( %)'
}, inplace=True)

In [39]:
df_200601=df_200601[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_200601

                시리얼             등록일자  기온(℃)  상대습도( %)
0       V02Q1940281    2020.6.1 1:08   19.3      84.0
1       V02Q1940282    2020.6.1 1:08   18.8      88.0
2       V02Q1940283    2020.6.1 1:08   18.8      87.0
3       V02Q1940284    2020.6.1 1:08   19.1      86.0
4       V02Q1940285    2020.6.1 1:08   19.8      83.0
...             ...              ...    ...       ...
430500  V02Q1940786  2020.6.30 23:45   20.4      76.0
430501  V02Q1940787  2020.6.30 23:45   20.7      76.0
430502  V02Q1940788  2020.6.30 23:45   20.8      79.0
430503  V02Q1940789  2020.6.30 23:45   20.1      78.0
430504  V02Q1940790  2020.6.30 23:45   20.1      81.0

[430505 rows x 4 columns]

In [40]:
df_200701.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 온도(℃),전송시간,등록일자
0,서울시,SDOT001,V02Q1940044,1,21.3,79.0,NaN,NaN,NaN,NaN,...,48.0,0.02,0.06,1.03,0.07,0.11,1.11,NaN,2020.7.1 1:45,2020.7.1 1:45
1,서울시,SDOT001,V02Q1940045,1,21.1,80.0,NaN,NaN,NaN,NaN,...,52.0,0.05,0.07,1.00,0.12,0.15,1.11,NaN,2020.7.1 1:45,2020.7.1 1:45
2,서울시,SDOT001,V02Q1940047,1,21.2,78.0,NaN,NaN,NaN,NaN,...,41.0,0.04,0.06,1.04,0.10,0.12,1.10,NaN,2020.7.1 1:45,2020.7.1 1:45
3,서울시,SDOT001,V02Q1940050,1,20.5,84.0,NaN,NaN,NaN,NaN,...,41.0,0.03,0.05,1.03,0.08,0.11,1.10,NaN,2020.7.1 1:45,2020.7.1 1:45
4,서울시,SDOT001,V02Q1940051,1,21.2,79.0,NaN,NaN,NaN,NaN,...,42.0,0.04,0.09,1.01,0.10,0.15,1.12,NaN,2020.7.1 1:45,2020.7.1 1:45

In [41]:
# 형식 맞추기
df_200701.rename(columns={
     ' 기온(℃) ' :'기온(℃)',
    '상대습도(%)':'상대습도( %)'
}, inplace=True)

In [42]:
df_200701=df_200701[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_200701

                시리얼             등록일자  기온(℃)  상대습도( %)
0       V02Q1940044    2020.7.1 1:45   21.3      79.0
1       V02Q1940045    2020.7.1 1:45   21.1      80.0
2       V02Q1940047    2020.7.1 1:45   21.2      78.0
3       V02Q1940050    2020.7.1 1:45   20.5      84.0
4       V02Q1940051    2020.7.1 1:45   21.2      79.0
...             ...              ...    ...       ...
597540  V02Q1940952  2020.7.31 23:00   27.9      81.0
597541  V02Q1940953  2020.7.31 23:00   27.6      82.0
597542  V02Q1940954  2020.7.31 23:00   28.0      80.0
597543  V02Q1940955  2020.7.31 23:00   27.3      83.0
597544  V02Q1941013  2020.7.31 23:00   27.2      86.0

[597545 rows x 4 columns]

In [43]:
df_200801.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 온도(℃),전송시간,등록일자
0,서울시,SDOT001,V02Q1940044,1,26.9,83.0,NaN,NaN,NaN,NaN,...,47.0,0.02,0.06,1.03,0.07,0.11,1.11,NaN,2020.8.1 1:00,2020.8.1 1:00
1,서울시,SDOT001,V02Q1940045,1,26.2,86.0,NaN,NaN,NaN,NaN,...,53.0,0.05,0.08,1.00,0.11,0.15,1.11,NaN,2020.8.1 1:00,2020.8.1 1:00
2,서울시,SDOT001,V02Q1940046,1,26.1,85.0,NaN,NaN,NaN,NaN,...,52.0,0.03,0.05,1.02,0.09,0.13,1.10,NaN,2020.8.1 1:00,2020.8.1 1:00
3,서울시,SDOT001,V02Q1940047,1,26.8,84.0,NaN,NaN,NaN,NaN,...,44.0,0.04,0.08,1.03,0.11,0.14,1.10,NaN,2020.8.1 1:00,2020.8.1 1:00
4,서울시,SDOT001,V02Q1940049,1,25.3,90.0,NaN,NaN,NaN,NaN,...,52.0,0.02,0.08,1.05,0.08,0.14,1.13,NaN,2020.8.1 1:00,2020.8.1 1:00

In [44]:
# 형식 맞추기
df_200801.rename(columns={
     ' 기온(℃) ' :'기온(℃)',
    '상대습도(%)':'상대습도( %)'
}, inplace=True)

In [46]:
df_200801=df_200801[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_200801.head()

           시리얼           등록일자  기온(℃)  상대습도( %)
0  V02Q1940044  2020.8.1 1:00   26.9      83.0
1  V02Q1940045  2020.8.1 1:00   26.2      86.0
2  V02Q1940046  2020.8.1 1:00   26.1      85.0
3  V02Q1940047  2020.8.1 1:00   26.8      84.0
4  V02Q1940049  2020.8.1 1:00   25.3      90.0

In [80]:
df_200801

                시리얼             등록일자  기온(℃)  상대습도( %)
0       V02Q1940044    2020.8.1 1:00   26.9      83.0
1       V02Q1940045    2020.8.1 1:00   26.2      86.0
2       V02Q1940046    2020.8.1 1:00   26.1      85.0
3       V02Q1940047    2020.8.1 1:00   26.8      84.0
4       V02Q1940049    2020.8.1 1:00   25.3      90.0
...             ...              ...    ...       ...
582735  V02Q1940392  2020.8.31 23:00   29.1      66.0
582736  V02Q1940393  2020.8.31 23:00   28.8      68.0
582737  V02Q1940394  2020.8.31 23:00   28.7      67.0
582738  V02Q1940395  2020.8.31 23:00   29.3      66.0
582739  V02Q1940396  2020.8.31 23:00   28.2      69.0

[582740 rows x 4 columns]

In [57]:
df_200901.head()

,기관명,모델명,시리얼,구분,기온 (℃),상대습도 (%),풍향 (°),풍속 (m/s),돌풍 풍향 (°),돌풍 풍속 (m/s),...,소음 (dB),진동(x) (g),진동(y) (g),진동(z) (g),진동(x) 최대 (g),진동(y) 최대 (g),진동(z) 최대 (g),흑구 온도 (℃),측정시간,등록 일시
0,서울시,SDOT001,V02Q1940043,1,27.8,71,0,0.0,0,0.0,...,48,0.02,0.06,1.02,0.08,0.12,1.08,NaN,2020-09-01 0:00,2020-09-01 0:00
1,서울시,SDOT001,V02Q1940058,1,26.2,79,0,0.0,0,0.0,...,47,0.03,0.06,1.05,0.09,0.12,1.13,NaN,2020-09-01 0:00,2020-09-01 0:00
2,서울시,SDOT001,V02Q1940063,1,27.6,70,0,0.0,0,0.0,...,45,0.02,0.13,1.02,0.08,0.18,1.09,NaN,2020-09-01 0:00,2020-09-01 0:00
3,서울시,SDOT001,V02Q1940074,1,28.3,69,0,0.0,0,0.0,...,47,0.01,0.10,1.12,0.07,0.15,1.17,NaN,2020-09-01 0:00,2020-09-01 0:00
4,서울시,SDOT001,V02Q1940079,1,27.3,67,0,0.0,0,0.0,...,50,0.03,0.09,1.03,0.11,0.16,1.18,NaN,2020-09-01 0:00,2020-09-01 0:00

In [58]:
df_200901.columns.tolist()

['기관명',
 '모델명',
 '시리얼',
 '구분',
 '기온 (℃)',
 '상대습도 (%)',
 '풍향 (°)',
 '풍속 (m/s)',
 '돌풍 풍향 (°)',
 '돌풍 풍속 (m/s)',
 '조도 (lux)',
 '자외선 (UVI)',
 '소음 (dB)',
 '진동(x) (g)',
 '진동(y) (g)',
 '진동(z) (g)',
 '진동(x) 최대 (g)',
 '진동(y) 최대 (g)',
 '진동(z) 최대 (g)',
 '흑구 온도 (℃)',
 '측정시간',
 '등록 일시']

In [59]:
# 형식 맞추기
df_200901.rename(columns={
        '측정시간': '등록일자',
     '기온 (℃)' :'기온(℃)',
    '상대습도 (%)':'상대습도( %)'
}, inplace=True)

In [60]:
df_200901=df_200901[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_200901

                시리얼              등록일자  기온(℃)  상대습도( %)
0       V02Q1940043   2020-09-01 0:00   27.8        71
1       V02Q1940058   2020-09-01 0:00   26.2        79
2       V02Q1940063   2020-09-01 0:00   27.6        70
3       V02Q1940074   2020-09-01 0:00   28.3        69
4       V02Q1940079   2020-09-01 0:00   27.3        67
...             ...               ...    ...       ...
586867  V02Q1940859  2020-09-30 23:00   17.5        87
586868  V02Q1940861  2020-09-30 23:00   18.6        86
586869  V02Q1940863  2020-09-30 23:00   19.0        93
586870  V02Q1940871  2020-09-30 23:00   19.5        76
586871  V02Q1940945  2020-09-30 23:00   21.1        70

[586872 rows x 4 columns]

In [61]:
df_201001.head()

,기관 명,모델명,시리얼,구분,기온 (℃),상대습도 (%),풍향 (°),풍속 (m/s),돌풍 풍향 (°),돌풍 풍속 (m/s),...,소음 (dB),진동(x) (g),진동(y) (g),진동(z) (g),진동(x) 최대 (g),진동(y) 최대 (g),진동(z) 최대 (g),흑구 온도 (℃),측정시간,등록 일시
0,서울시,SDOT001,V02Q1940043,1,20.4,70,0,0.0,0,0.0,...,46,0.01,0.06,1.03,0.06,0.11,1.09,NaN,2020-10-01 0:00,2020-10-01 0:00
1,서울시,SDOT001,V02Q1940066,1,19.8,72,0,0.0,0,0.0,...,45,0.02,0.09,1.02,0.08,0.15,1.08,NaN,2020-10-01 0:00,2020-10-01 0:00
2,서울시,SDOT001,V02Q1940073,1,19.5,77,0,0.0,0,0.0,...,44,0.02,0.02,1.05,0.08,0.14,1.11,NaN,2020-10-01 0:00,2020-10-01 0:00
3,서울시,SDOT001,V02Q1940090,1,19.4,72,0,0.0,0,0.0,...,44,0.02,0.07,1.07,0.08,0.13,1.14,NaN,2020-10-01 0:00,2020-10-01 0:00
4,서울시,SDOT001,V02Q1940099,1,20.3,62,0,0.0,0,0.0,...,47,0.01,0.06,0.98,0.07,0.13,1.11,NaN,2020-10-01 0:00,2020-10-01 0:00

In [62]:
df_201001.columns.tolist()

['기관 명',
 '모델명',
 '시리얼',
 '구분',
 '기온 (℃)',
 '상대습도 (%)',
 '풍향 (°)',
 '풍속 (m/s)',
 '돌풍 풍향 (°)',
 '돌풍 풍속 (m/s)',
 '조도 (lux)',
 '자외선 (UVI)',
 '소음 (dB)',
 '진동(x) (g)',
 '진동(y) (g)',
 '진동(z) (g)',
 '진동(x) 최대 (g)',
 '진동(y) 최대 (g)',
 '진동(z) 최대 (g)',
 '흑구 온도 (℃)',
 '측정시간',
 '등록 일시']

In [65]:
# 형식 맞추기
df_201001.rename(columns={
        '측정시간': '등록일자',
    '기온 (℃)' :'기온(℃)',
    '상대습도 (%)':'상대습도( %)'
}, inplace=True)

In [68]:
df_201001=df_201001[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_201001.head()

           시리얼             등록일자  기온(℃)  상대습도( %)
0  V02Q1940043  2020-10-01 0:00   20.4        70
1  V02Q1940066  2020-10-01 0:00   19.8        72
2  V02Q1940073  2020-10-01 0:00   19.5        77
3  V02Q1940090  2020-10-01 0:00   19.4        72
4  V02Q1940099  2020-10-01 0:00   20.3        62

In [81]:
df_201001

                시리얼              등록일자  기온(℃)  상대습도( %)
0       V02Q1940043   2020-10-01 0:00   20.4        70
1       V02Q1940066   2020-10-01 0:00   19.8        72
2       V02Q1940073   2020-10-01 0:00   19.5        77
3       V02Q1940090   2020-10-01 0:00   19.4        72
4       V02Q1940099   2020-10-01 0:00   20.3        62
...             ...               ...    ...       ...
620811  V02Q1940851  2020-10-31 23:00   16.9        56
620812  V02Q1940882  2020-10-31 23:00   16.2        50
620813  V02Q1940885  2020-10-31 23:00   14.9        59
620814  V02Q1940947  2020-10-31 23:00   17.6        45
620815  V02Q1940949  2020-10-31 23:00   17.7        44

[620816 rows x 4 columns]

In [70]:
df_201101.head()

  기관 명\t모델명\t시리얼\t구분\t기온(℃)\t상대습도( %)\t풍향(°)\t풍속(m/s)\t돌풍 풍향(°)\t돌풍 풍속(m/s)\t조도(lux)\t자외선(UVI)\t소음(dB)\t진동_x(g)\t진동_y(g)\t진동_z(g)\t진동_x 최대(g)\t진동_y 최대(g)\t진동_z 최대(g)\t흑구 온도(℃)\t전송시간\t등록일자
0  서울시\tSDOT001\tV02Q1940043\t1\t17\t51\t\t\t\t\t...
1  서울시\tSDOT001\tV02Q1940044\t1\t17.4\t50\t\t\t\t...
2  서울시\tSDOT001\tV02Q1940045\t1\t16.2\t53\t\t\t\t...
3  서울시\tSDOT001\tV02Q1940046\t1\t17.2\t52\t\t\t\t...
4  서울시\tSDOT001\tV02Q1940047\t1\t16.7\t51\t\t\t\t...

In [71]:
df_201101=pd.read_csv(r"S-DoT_NATURE_2020년(2020.04.01~2021.01.03)\S-DoT_NATURE_2020.11.01-11.08.csv",encoding='cp949',sep="\t")

In [72]:
df_201101.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 온도(℃),전송시간,등록일자
0,서울시,SDOT001,V02Q1940043,1,17.0,51.0,NaN,NaN,NaN,NaN,...,46.0,2.0,5.0,103.0,9.0,13.0,112.0,0.0,2.020110e+11,2020-11-01 10:00
1,서울시,SDOT001,V02Q1940044,1,17.4,50.0,NaN,NaN,NaN,NaN,...,51.0,2.0,5.0,104.0,8.0,11.0,113.0,0.0,2.020110e+11,2020-11-01 10:00
2,서울시,SDOT001,V02Q1940045,1,16.2,53.0,NaN,NaN,NaN,NaN,...,51.0,5.0,9.0,101.0,10.0,15.0,110.0,NaN,2.020110e+11,2020-11-01 10:00
3,서울시,SDOT001,V02Q1940046,1,17.2,52.0,NaN,NaN,NaN,NaN,...,51.0,3.0,4.0,103.0,10.0,14.0,112.0,0.0,2.020110e+11,2020-11-01 10:00
4,서울시,SDOT001,V02Q1940047,1,16.7,51.0,NaN,NaN,NaN,NaN,...,43.0,4.0,5.0,104.0,10.0,11.0,111.0,0.0,2.020110e+11,2020-11-01 10:00

In [73]:
df_201101.columns.tolist()

['기관 명',
 '모델명',
 '시리얼',
 '구분',
 '기온(℃)',
 '상대습도( %)',
 '풍향(°)',
 '풍속(m/s)',
 '돌풍 풍향(°)',
 '돌풍 풍속(m/s)',
 '조도(lux)',
 '자외선(UVI)',
 '소음(dB)',
 '진동_x(g)',
 '진동_y(g)',
 '진동_z(g)',
 '진동_x 최대(g)',
 '진동_y 최대(g)',
 '진동_z 최대(g)',
 '흑구 온도(℃)',
 '전송시간',
 '등록일자']

In [75]:
# 형식 맞추기
df_201101.rename(columns={
    '기온(℃)' :'기온(℃)',
    '상대습도( %)':'상대습도( %)'
}, inplace=True)

In [76]:
df_201101=df_201101[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_201101.head()

           시리얼              등록일자  기온(℃)  상대습도( %)
0  V02Q1940043  2020-11-01 10:00   17.0      51.0
1  V02Q1940044  2020-11-01 10:00   17.4      50.0
2  V02Q1940045  2020-11-01 10:00   16.2      53.0
3  V02Q1940046  2020-11-01 10:00   17.2      52.0
4  V02Q1940047  2020-11-01 10:00   16.7      51.0

In [82]:
df_201101

                시리얼              등록일자  기온(℃)  상대습도( %)
0       V02Q1940043  2020-11-01 10:00   17.0      51.0
1       V02Q1940044  2020-11-01 10:00   17.4      50.0
2       V02Q1940045  2020-11-01 10:00   16.2      53.0
3       V02Q1940046  2020-11-01 10:00   17.2      52.0
4       V02Q1940047  2020-11-01 10:00   16.7      51.0
...             ...               ...    ...       ...
462121  V02Q1940954  2020-11-08 23:00    7.1      31.0
462122  V02Q1940955  2020-11-08 23:00    6.3      34.0
462123  V02Q1941006  2020-11-08 23:00    5.9      37.0
462124  V02Q1941013  2020-11-08 23:00    7.4      36.0
462125  V02Q1941015  2020-11-08 23:00    6.1      34.0

[462126 rows x 4 columns]

In [77]:
merged_2020 = pd.concat([merged_2020,df_200401,df_200501,df_200601,df_200701,df_200801,df_200901,df_201001,df_201101], ignore_index=True)

In [78]:
merged_2020

                 시리얼              등록일자 기온(℃)  상대습도( %)
0        V02Q1940043  2020-11-09 12:43  10.4      21.0
1        V02Q1940044  2020-11-09 12:43   7.7      24.0
2        V02Q1940046  2020-11-09 12:43  10.2      23.0
3        V02Q1940047  2020-11-09 12:43  10.0      21.0
4        V02Q1940045  2020-11-09 12:43   7.4      24.0
...              ...               ...   ...       ...
5346283  V02Q1940954  2020-11-08 23:00   7.1      31.0
5346284  V02Q1940955  2020-11-08 23:00   6.3      34.0
5346285  V02Q1941006  2020-11-08 23:00   5.9      37.0
5346286  V02Q1941013  2020-11-08 23:00   7.4      36.0
5346287  V02Q1941015  2020-11-08 23:00   6.1      34.0

[5346288 rows x 4 columns]

In [79]:
merged_2020.to_pickle("merged_2020_after.pkl")

In [83]:
merged_2020.isnull().sum()

시리얼              0
등록일자             0
기온(℃)       152364
상대습도( %)     10768
dtype: int64

In [84]:
merged_2020[merged_2020.isnull().any(axis=1)]

                 시리얼              등록일자 기온(℃)  상대습도( %)
208826   V02Q1940128   2020-11-21 7:37   NaN      81.0
208827   V02Q1940128   2020-11-21 7:37   NaN      81.0
264020   V02Q1940253   2020-11-23 7:05   NaN      77.0
264090   V02Q1940325   2020-11-23 7:05   NaN      80.0
264235   V02Q1940477   2020-11-23 7:05   NaN      76.0
...              ...               ...   ...       ...
5345667  V02Q1940274  2020-11-08 23:00   NaN       NaN
5345853  V02Q1940466  2020-11-08 23:00   NaN       NaN
5345888  V02Q1940503  2020-11-08 23:00   NaN       NaN
5345949  V02Q1940564  2020-11-08 23:00   NaN       NaN
5346208  V02Q1940824  2020-11-08 23:00   NaN       NaN

[155219 rows x 4 columns]

In [85]:
# 온도/습도 평균이 모두 null인 시리얼별 합산
null_only_serials = (
    merged_2020.groupby("시리얼")[['기온(℃)', '상대습도( %)']]
    .apply(lambda x: x.isnull().all().all())
)

# True인 시리얼만 필터링
null_only_serials = null_only_serials[null_only_serials].index.tolist()

In [86]:
null_only_serials

['OC3CL200126', 'OT3CL180000', 'V02Q1940838', 'V02Q1940936', 'V02Q1950001']

In [88]:
# 널값만 있는 시리얼 제거
cleaned_df_2020 = merged_2020[~merged_2020['시리얼'].isin(null_only_serials)]
cleaned_df_2020

                 시리얼              등록일자 기온(℃)  상대습도( %)
0        V02Q1940043  2020-11-09 12:43  10.4      21.0
1        V02Q1940044  2020-11-09 12:43   7.7      24.0
2        V02Q1940046  2020-11-09 12:43  10.2      23.0
3        V02Q1940047  2020-11-09 12:43  10.0      21.0
4        V02Q1940045  2020-11-09 12:43   7.4      24.0
...              ...               ...   ...       ...
5346283  V02Q1940954  2020-11-08 23:00   7.1      31.0
5346284  V02Q1940955  2020-11-08 23:00   6.3      34.0
5346285  V02Q1941006  2020-11-08 23:00   5.9      37.0
5346286  V02Q1941013  2020-11-08 23:00   7.4      36.0
5346287  V02Q1941015  2020-11-08 23:00   6.1      34.0

[5346148 rows x 4 columns]

In [89]:
cleaned_df_2020.isnull().sum()

시리얼              0
등록일자             0
기온(℃)       152224
상대습도( %)     10628
dtype: int64

In [91]:
# 1. 우선 문자열을 표준화 (정규화)
cleaned_df_2020['등록일자'] = cleaned_df_2020['등록일자'].astype(str).str.replace('.', '-', regex=False).str.strip()

# 2. to_datetime으로 유연하게 처리
cleaned_df_2020['날짜'] = pd.to_datetime(cleaned_df_2020['등록일자'], errors='coerce', dayfirst=False).dt.date

C:\Users\linaa\AppData\Local\Temp\ipykernel_20760\1834369549.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2020['등록일자'] = cleaned_df_2020['등록일자'].astype(str).str.replace('.', '-', regex=False).str.strip()
C:\Users\linaa\AppData\Local\Temp\ipykernel_20760\1834369549.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2020['날짜'] = pd.to_datetime(cleaned_df_2020['등록일자'], errors='coerce', dayfirst=False).dt.date

In [94]:
# 수치형으로 변환
cleaned_df_2020['기온(℃)'] = pd.to_numeric(cleaned_df_2020['기온(℃)'], errors='coerce')
cleaned_df_2020['상대습도( %)'] = pd.to_numeric(cleaned_df_2020['상대습도( %)'], errors='coerce')

C:\Users\linaa\AppData\Local\Temp\ipykernel_20760\3490362388.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2020['기온(℃)'] = pd.to_numeric(cleaned_df_2020['기온(℃)'], errors='coerce')
C:\Users\linaa\AppData\Local\Temp\ipykernel_20760\3490362388.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2020['상대습도( %)'] = pd.to_numeric(cleaned_df_2020['상대습도( %)'], errors='coerce')

In [95]:
# 2. 그룹 평균 계산
group_avg = cleaned_df_2020.groupby(['시리얼', '날짜'])[['기온(℃)','상대습도( %)']].transform('mean')

group_avg

             기온(℃)   상대습도( %)
0        11.047024  28.647059
1        10.370541  29.529412
2        10.647022  30.176471
3        10.811741  29.470588
4        10.152915  29.764706
...            ...        ...
5346283  12.368116  35.811594
5346284  11.026087  39.971014
5346285  11.113043  41.115942
5346286  12.549275  35.782609
5346287  11.795652  39.217391

[5346148 rows x 2 columns]

In [96]:
# 3. 결측값에 그룹 평균으로 채우기
cleaned_df_2020['기온(℃)'] = cleaned_df_2020['기온(℃)'].fillna(group_avg['기온(℃)'])
cleaned_df_2020['상대습도( %)'] = cleaned_df_2020['상대습도( %)'].fillna(group_avg['상대습도( %)'])

# 필요 없다면 날짜 컬럼 삭제
cleaned_df_2020.drop(columns='날짜', inplace=True)

C:\Users\linaa\AppData\Local\Temp\ipykernel_20760\98849375.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2020['기온(℃)'] = cleaned_df_2020['기온(℃)'].fillna(group_avg['기온(℃)'])
C:\Users\linaa\AppData\Local\Temp\ipykernel_20760\98849375.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2020['상대습도( %)'] = cleaned_df_2020['상대습도( %)'].fillna(group_avg['상대습도( %)'])
C:\Users\linaa\AppData\Local\Temp\ipykernel_20760\98849375.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2020.drop(columns='날짜', inplace=True)

In [103]:
group_avg.isnull().sum()

기온(℃)       157702
상대습도( %)     11451
dtype: int64

In [97]:
cleaned_df_2020.isnull().sum()

시리얼             0
등록일자            0
기온(℃)       91421
상대습도( %)     7612
dtype: int64

In [98]:
null_rows_2020 =cleaned_df_2020[cleaned_df_2020.isnull().any(axis=1)]
null_rows_2020

                 시리얼              등록일자  기온(℃)  상대습도( %)
499372   V02Q1940274   2020-12-08 0:07    NaN       NaN
499513   V02Q1940503   2020-12-08 0:07    NaN       NaN
499750   V02Q1940824   2020-12-08 0:07    NaN       NaN
500003   V02Q1940274   2020-12-08 1:07    NaN       NaN
500143   V02Q1940466   2020-12-08 1:07    NaN       NaN
...              ...               ...    ...       ...
5345667  V02Q1940274  2020-11-08 23:00    NaN       NaN
5345853  V02Q1940466  2020-11-08 23:00    NaN       NaN
5345888  V02Q1940503  2020-11-08 23:00    NaN       NaN
5345949  V02Q1940564  2020-11-08 23:00    NaN       NaN
5346208  V02Q1940824  2020-11-08 23:00    NaN       NaN

[91766 rows x 4 columns]

In [99]:
null_by_serial = (
    null_rows_2020
    .groupby("시리얼")[['기온(℃)', '상대습도( %)']]
    .apply(lambda x: x.isnull().sum())
)

# 총 결측 수 계산
null_by_serial['총 결측 수'] = null_by_serial.sum(axis=1)

# 정렬
null_by_serial = null_by_serial.sort_values(by='총 결측 수', ascending=False)
null_by_serial

             기온(℃)  상대습도( %)  총 결측 수
시리얼
V02Q1940503   1660      1729    3389
V02Q1940564   1581      1650    3231
V02Q1940274   1502      1571    3073
V02Q1940466   1092      1161    2253
V02Q1940824    899       968    1867
...            ...       ...     ...
V02Q1940710     24         0      24
V02Q1940637     23         0      23
V02Q1940247     21         0      21
V02Q1940303     16         0      16
V02Q1941000      1         1       2

[831 rows x 3 columns]

In [100]:
# 시리얼별 전체 측정 횟수
total_count_by_serial = cleaned_df_2020['시리얼'].value_counts().sort_index()

# 결측률 (%) 계산
partial_nulls = null_by_serial.copy()
partial_nulls['총 행 수'] = total_count_by_serial* 2
partial_nulls['결측률 (%)'] = (partial_nulls['총 결측 수'] / (partial_nulls['총 행 수'])) * 100

In [101]:
partial_nulls

             기온(℃)  상대습도( %)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940503   1660      1729    3389  12936  26.198207
V02Q1940564   1581      1650    3231  12860  25.124417
V02Q1940274   1502      1571    3073  12670  24.254144
V02Q1940466   1092      1161    2253  12676  17.773746
V02Q1940824    899       968    1867  12308  15.168996
...            ...       ...     ...    ...        ...
V02Q1940710     24         0      24  12882   0.186306
V02Q1940637     23         0      23  11992   0.191795
V02Q1940247     21         0      21   9434   0.222599
V02Q1940303     16         0      16  12034   0.132957
V02Q1941000      1         1       2   1618   0.123609

[831 rows x 5 columns]

In [102]:
serial_null_2020=partial_nulls.sort_values("결측률 (%)",ascending=False)
serial_null_2020

             기온(℃)  상대습도( %)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940503   1660      1729    3389  12936  26.198207
V02Q1940564   1581      1650    3231  12860  25.124417
V02Q1940274   1502      1571    3073  12670  24.254144
V02Q1940466   1092      1161    2253  12676  17.773746
V02Q1940824    899       968    1867  12308  15.168996
...            ...       ...     ...    ...        ...
V02Q1940637     23         0      23  11992   0.191795
V02Q1940710     24         0      24  12882   0.186306
V02Q1940796     24         0      24  12896   0.186104
V02Q1940303     16         0      16  12034   0.132957
V02Q1941000      1         1       2   1618   0.123609

[831 rows x 5 columns]

In [103]:
serial_null_2020.to_pickle("serial_null_2020.pkl")

In [104]:
cleaned_df_2020.to_pickle("cleaned_df_2020.pkl")

In [11]:
serial_null_2020=pd.read_pickle("serial_null_2020.pkl")

In [18]:
serial_null_2020

             기온(℃)  상대습도( %)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940503   1660      1729    3389  12936  26.198207
V02Q1940564   1581      1650    3231  12860  25.124417
V02Q1940274   1502      1571    3073  12670  24.254144
V02Q1940466   1092      1161    2253  12676  17.773746
V02Q1940824    899       968    1867  12308  15.168996
...            ...       ...     ...    ...        ...
V02Q1940637     23         0      23  11992   0.191795
V02Q1940710     24         0      24  12882   0.186306
V02Q1940796     24         0      24  12896   0.186104
V02Q1940303     16         0      16  12034   0.132957
V02Q1941000      1         1       2   1618   0.123609

[831 rows x 5 columns]

In [19]:
serial_null_2020.index.unique()

831

In [12]:
cleaned_df_2020=pd.read_pickle("cleaned_df_2020.pkl")

In [13]:
cleaned_df_2020['시리얼'].nunique()

859

In [58]:
filtered_df = merged_2023[merged_2023['시리얼'].isin("OC3CL210100")]
filtered_df

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
246,OC3CL210100,2023-01-01_01:03:03,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
1340,OC3CL210100,2023-01-01_02:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
2432,OC3CL210100,2023-01-01_03:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
3526,OC3CL210100,2023-01-01_04:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
4621,OC3CL210100,2023-01-01_05:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
...,...,...,...,...,...,...
7627818,OC3CL210100,2023-12-31_07:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7628836,OC3CL210100,2023-12-31_08:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7629855,OC3CL210100,2023-12-31_09:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7630875,OC3CL210100,2023-12-31_10:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7631932,OC3CL210100,2023-12-31_11:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN