In [1]:
import os
import pandas as pd

In [101]:
folder_path = "S-DoT_NATURE_2022년(2022.01.03~2023.01.01)"

csv_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.csv')])

# 필요한 컬럼만 선택
required_cols = ['시리얼', '등록일자', '기온(℃)', '상대습도( %)']

# 병합을 위한 빈 DataFrame 초기화
merged_df = pd.DataFrame(columns=required_cols)

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    try:
        # 열 먼저 확인
        header_check = pd.read_csv(file_path, encoding='cp949', index_col=False,nrows=1)
        if not all(col in header_check.columns for col in required_cols):
            print(f"{file} → 필요한 열 누락, 건너뜀")
            continue

        temp_df = pd.read_csv(file_path, encoding='cp949',index_col=False, usecols=required_cols, low_memory=False)
        
        # 수치형 컬럼을 명시적으로 변환
        temp_df['기온(℃)'] = pd.to_numeric(temp_df['기온(℃)'], errors='coerce')
        temp_df['상대습도( %)'] = pd.to_numeric(temp_df['상대습도( %)'], errors='coerce')
        temp_df['시리얼'] = temp_df['시리얼'].astype(str)
        temp_df['등록일자'] = temp_df['등록일자'].astype(str)


        # 미리보기 
        print(f"\n📄 {file} → 행 개수: {len(temp_df)}")

        print(f"\n📄 {file} → 하위 5개 행 미리보기:")
        print(temp_df.tail(5))

        
        merged_df = pd.concat([merged_df, temp_df], ignore_index=True)
        print(f"{file} → 병합 완료")

    except Exception as e:
        print(f"{file} 처리 중 오류 발생: {e}")

# 최종 Parquet로 저장
merged_df.to_parquet("merged_2022.parquet", index=False)
print("Parquet 저장 완료: merged_2022.parquet")

📄 S-DoT_NATURE_2022.01.03-01.09.csv → 행 개수: 168989

📄 S-DoT_NATURE_2022.01.03-01.09.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
168984  V02Q1940955    2.4        60  2022-01-09 23:07
168985  V02Q1940953    1.1        64  2022-01-09 23:07
168986  V02Q1940952    3.6        57  2022-01-09 23:07
168987  V02Q1941015    2.8        62  2022-01-09 23:07
168988  V02Q1940954    3.6        54  2022-01-09 23:07
S-DoT_NATURE_2022.01.03-01.09.csv → 병합 완료

C:\Users\linaa\AppData\Local\Temp\ipykernel_20268\2806642167.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([merged_df, temp_df], ignore_index=True)

📄 S-DoT_NATURE_2022.01.10-01.16.csv → 행 개수: 170282

📄 S-DoT_NATURE_2022.01.10-01.16.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
170277  V02Q1940952   -2.9        40  2022-01-16 23:07
170278  V02Q1940951   -3.5        45  2022-01-16 23:07
170279  V02Q1940955   -3.8        41  2022-01-16 23:07
170280  V02Q1941015   -3.7        39  2022-01-16 23:07
170281  V02Q1940953   -2.9        36  2022-01-16 23:07
S-DoT_NATURE_2022.01.10-01.16.csv → 병합 완료

📄 S-DoT_NATURE_2022.01.17-01.23.csv → 행 개수: 169219

📄 S-DoT_NATURE_2022.01.17-01.23.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
169214  V02Q1940955    3.5        51  2022-01-23 23:07
169215  V02Q1941013    4.5        50  2022-01-23 23:07
169216  V02Q1941006    3.0        56  2022-01-23 23:07
169217  V02Q1941015    3.9        55  2022-01-23 23:07
169218  V02Q1941000    4.2        52  2022-01-23 23:08
S-DoT_NATURE_2022.01.17-01.23.csv → 병합 완료

📄 S-DoT_NATURE_2022.01.24-01.30.csv → 행 개수: 169732

📄 S-DoT_NATURE_2022.01.24-01.30.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
169727  V02Q1940953    0.3      38.0  2022-01-30 23:07
169728  V02Q1940954    0.3      37.0  2022-01-30 23:07
169729  V02Q1941006   -0.9      41.0  2022-01-30 23:07
169730  V02Q1941015   -0.2      40.0  2022-01-30 23:07
169731  V02Q1940952    0.2      37.0  2022-01-30 23:07
S-DoT_NATURE_2022.01.24-01.30.csv → 병합 완료

📄 S-DoT_NATURE_2022.01.31-02.06.csv → 행 개수: 168834

📄 S-DoT_NATURE_2022.01.31-02.06.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
168829  V02Q1940955   -2.3      44.0  2022-02-06 23:07
168830  V02Q1941013   -1.5      44.0  2022-02-06 23:07
168831  V02Q1941015   -2.3      43.0  2022-02-06 23:07
168832  V02Q1941006   -2.5      47.0  2022-02-06 23:07
168833  V02Q1941000   -2.1      44.0  2022-02-06 23:07
S-DoT_NATURE_2022.01.31-02.06.csv → 병합 완료

📄 S-DoT_NATURE_2022.02.07-02.13.csv → 행 개수: 170111

📄 S-DoT_NATURE_2022.02.07-02.13.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
170106  V02Q1940952    7.9        42  2022-02-13 23:07
170107  V02Q1940953    5.9        46  2022-02-13 23:07
170108  V02Q1940951    6.2        45  2022-02-13 23:07
170109  V02Q1941006    5.2        46  2022-02-13 23:07
170110  V02Q1941015    6.3        48  2022-02-13 23:07
S-DoT_NATURE_2022.02.07-02.13.csv → 병합 완료

📄 S-DoT_NATURE_2022.02.14-02.20.csv → 행 개수: 171706

📄 S-DoT_NATURE_2022.02.14-02.20.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
171701  V02Q1940954   -2.0      39.0  2022-02-20 23:07
171702  V02Q1941015   -2.6      37.0  2022-02-20 23:07
171703  V02Q1941013   -1.4      38.0  2022-02-20 23:07
171704  V02Q1941006   -2.7      42.0  2022-02-20 23:07
171705  V02Q1941000   -2.4      42.0  2022-02-20 23:07
S-DoT_NATURE_2022.02.14-02.20.csv → 병합 완료

📄 S-DoT_NATURE_2022.02.21-02.27.csv → 행 개수: 170987

📄 S-DoT_NATURE_2022.02.21-02.27.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
170982  V02Q1941015    5.8      72.0  2022-02-27 23:07
170983  V02Q1940955    5.6      70.0  2022-02-27 23:07
170984  V02Q1940953    5.7      67.0  2022-02-27 23:07
170985  V02Q1940952    6.2      68.0  2022-02-27 23:07
170986  V02Q1940948    6.8      67.0  2022-02-27 23:07
S-DoT_NATURE_2022.02.21-02.27.csv → 병합 완료

📄 S-DoT_NATURE_2022.03.07-03.13.csv → 행 개수: 156611

📄 S-DoT_NATURE_2022.03.07-03.13.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
156606  V02Q1941006   13.1      87.0  2022-03-13 23:07
156607  V02Q1940950   14.0      80.0  2022-03-13 23:07
156608  V02Q1941013   13.9      85.0  2022-03-13 23:07
156609  V02Q1940944   14.0      81.0  2022-03-13 23:07
156610  V02Q1940954   14.7      78.0  2022-03-13 23:07
S-DoT_NATURE_2022.03.07-03.13.csv → 병합 완료

📄 S-DoT_NATURE_2022.03.14-03.20.csv → 행 개수: 171954

📄 S-DoT_NATURE_2022.03.14-03.20.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
171949  V02Q1940941    5.6      58.0  2022-03-20 23:07
171950  V02Q1940942    5.1      44.0  2022-03-20 23:07
171951  V02Q1940952    5.4      59.0  2022-03-20 23:07
171952  V02Q1941015    5.1      62.0  2022-03-20 23:07
171953  V02Q1940955    4.6      61.0  2022-03-20 23:07
S-DoT_NATURE_2022.03.14-03.20.csv → 병합 완료

📄 S-DoT_NATURE_2022.03.21-03.27.csv → 행 개수: 171169

📄 S-DoT_NATURE_2022.03.21-03.27.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
171164  V02Q1940955    7.8      32.0  2022-03-27 23:07
171165  V02Q1941000    8.2      28.0  2022-03-27 23:07
171166  V02Q1940952    8.6      27.0  2022-03-27 23:07
171167  V02Q1941006    7.6      34.0  2022-03-27 23:07
171168  V02Q1941013    9.1      28.0  2022-03-27 23:07
S-DoT_NATURE_2022.03.21-03.27.csv → 병합 완료

📄 S-DoT_NATURE_2022.03.28-04.03.csv → 행 개수: 146643

📄 S-DoT_NATURE_2022.03.28-04.03.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
146638  V02Q1940954   11.5      51.0  2022-04-03 23:07
146639  V02Q1940952   11.2      53.0  2022-04-03 23:07
146640  V02Q1940955   10.6      54.0  2022-04-03 23:07
146641  V02Q1941000   10.6      58.0  2022-04-03 23:07
146642  V02Q1941013   11.0      57.0  2022-04-03 23:07
S-DoT_NATURE_2022.03.28-04.03.csv → 병합 완료

📄 S-DoT_NATURE_2022.04.04-04.10.csv → 행 개수: 143764

📄 S-DoT_NATURE_2022.04.04-04.10.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
143759  V02Q1941006   18.3      56.0  2022-04-10 23:07
143760  V02Q1940953   17.5      56.0  2022-04-10 23:07
143761  V02Q1940954   19.1      48.0  2022-04-10 23:07
143762  V02Q1941015   18.8      54.0  2022-04-10 23:07
143763  V02Q1941000   18.5      53.0  2022-04-10 23:07
S-DoT_NATURE_2022.04.04-04.10.csv → 병합 완료

📄 S-DoT_NATURE_2022.04.11-04.17.csv → 행 개수: 169078

📄 S-DoT_NATURE_2022.04.11-04.17.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
169073  V02Q1940950   15.1      46.0  2022-04-17 23:07
169074  V02Q1940953   14.4      44.0  2022-04-17 23:07
169075  V02Q1940954   14.6      46.0  2022-04-17 23:07
169076  V02Q1941000   13.4      57.0  2022-04-17 23:07
169077  V02Q1940952   14.2      48.0  2022-04-17 23:07
S-DoT_NATURE_2022.04.11-04.17.csv → 병합 완료

📄 S-DoT_NATURE_2022.04.18-04.24.csv → 행 개수: 168931

📄 S-DoT_NATURE_2022.04.18-04.24.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
168926  V02Q1941015   17.6      84.0  2022-04-24 23:08
168927  V02Q1941000   17.6      86.0  2022-04-24 23:08
168928  V02Q1941006   17.5      85.0  2022-04-24 23:08
168929  V02Q1940955   17.7      81.0  2022-04-24 23:08
168930  V02Q1941013   17.8      84.0  2022-04-24 23:08
S-DoT_NATURE_2022.04.18-04.24.csv → 병합 완료

📄 S-DoT_NATURE_2022.04.25-05.01.csv → 행 개수: 70994

📄 S-DoT_NATURE_2022.04.25-05.01.csv → 하위 5개 행 미리보기:
               시리얼  기온(℃)  상대습도( %)              등록일자
70989  V02Q1941006   13.3      71.0  2022-05-01 23:08
70990  V02Q1941000   13.1      71.0  2022-05-01 23:08
70991  V02Q1941013   13.5      70.0  2022-05-01 23:08
70992  V02Q1941015   13.3      68.0  2022-05-01 23:08
70993  V02Q1940954   13.4      64.0  2022-05-01 23:08
S-DoT_NATURE_2022.04.25-05.01.csv → 병합 완료

📄 S-DoT_NATURE_2022.05.02-05.08.csv → 행 개수: 163009

📄 S-DoT_NATURE_2022.05.02-05.08.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
163004  V02Q1940953   11.9      86.0  2022-05-08 23:07
163005  V02Q1941000   12.4      88.0  2022-05-08 23:07
163006  V02Q1941006   12.5      83.0  2022-05-08 23:07
163007  V02Q1941015   12.0      87.0  2022-05-08 23:07
163008  V02Q1941013   14.4      79.0  2022-05-08 23:07
S-DoT_NATURE_2022.05.02-05.08.csv → 병합 완료

📄 S-DoT_NATURE_2022.05.09-05.15.csv → 행 개수: 160346

📄 S-DoT_NATURE_2022.05.09-05.15.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
160341  V02Q1940503   16.3      39.0  2022-05-15 23:12
160342  V02Q1940525   16.9      33.0  2022-05-15 23:12
160343  V02Q1940631   16.1      34.0  2022-05-15 23:12
160344  V02Q1940952   15.8      42.0  2022-05-15 23:12
160345  V02Q1940146   17.1      31.0  2022-05-15 23:13
S-DoT_NATURE_2022.05.09-05.15.csv → 병합 완료

📄 S-DoT_NATURE_2022.05.16-05.22.csv → 행 개수: 21994

📄 S-DoT_NATURE_2022.05.16-05.22.csv → 하위 5개 행 미리보기:
               시리얼  기온(℃)  상대습도( %)              등록일자
21989  V02Q1940558   21.0      71.0  2022-05-22 22:07
21990  V02Q1940749   20.5      72.0  2022-05-22 22:07
21991  V02Q1940340   21.5      68.0  2022-05-22 23:07
21992  V02Q1940641   18.6      81.0  2022-05-22 23:07
21993  V02Q1940935   21.3      70.0  2022-05-22 23:08
S-DoT_NATURE_2022.05.16-05.22.csv → 병합 완료

📄 S-DoT_NATURE_2022.05.23-05.29.csv → 행 개수: 107900

📄 S-DoT_NATURE_2022.05.23-05.29.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
107895  V02Q1940954   22.7      67.0  2022-05-29 23:07
107896  V02Q1940950   24.1      64.0  2022-05-29 23:07
107897  V02Q1940953   23.1      66.0  2022-05-29 23:07
107898  V02Q1940947   23.0      64.0  2022-05-29 23:07
107899  V02Q1940944   24.7      62.0  2022-05-29 23:07
S-DoT_NATURE_2022.05.23-05.29.csv → 병합 완료

📄 S-DoT_NATURE_2022.05.30-06.05.csv → 행 개수: 164732

📄 S-DoT_NATURE_2022.05.30-06.05.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
164727  V02Q1940946   21.5      64.0  2022-06-05 23:07
164728  V02Q1940948   21.9      63.0  2022-06-05 23:07
164729  V02Q1940952   21.5      65.0  2022-06-05 23:07
164730  V02Q1940944   21.3      68.0  2022-06-05 23:07
164731  V02Q1940945   21.9      64.0  2022-06-05 23:07
S-DoT_NATURE_2022.05.30-06.05.csv → 병합 완료

📄 S-DoT_NATURE_2022.06.06-06.12.csv → 행 개수: 164035

📄 S-DoT_NATURE_2022.06.06-06.12.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
164030  V02Q1940935   24.9      64.0  2022-06-12 23:07
164031  V02Q1940955   23.5      69.0  2022-06-12 23:07
164032  V02Q1941013   23.6      73.0  2022-06-12 23:07
164033  V02Q1941006   23.6      73.0  2022-06-12 23:07
164034  V02Q1941015   23.8      71.0  2022-06-12 23:07
S-DoT_NATURE_2022.06.06-06.12.csv → 병합 완료

📄 S-DoT_NATURE_2022.06.13-06.19.csv → 행 개수: 162769

📄 S-DoT_NATURE_2022.06.13-06.19.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
162764  V02Q1941013   25.1      79.0  2022-06-19 23:07
162765  V02Q1940949   25.4      73.0  2022-06-19 23:07
162766  V02Q1940952   24.7      79.0  2022-06-19 23:07
162767  V02Q1940941   24.9      76.0  2022-06-19 23:07
162768  V02Q1940955   24.6      78.0  2022-06-19 23:07
S-DoT_NATURE_2022.06.13-06.19.csv → 병합 완료

📄 S-DoT_NATURE_2022.06.20-06.26.csv → 행 개수: 143228

📄 S-DoT_NATURE_2022.06.20-06.26.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
143223  V02Q1940888   28.9      72.0  2022-06-26 23:07
143224  V02Q1940954    NaN       NaN  2022-06-26 23:07
143225  V02Q1940879   28.2      73.0  2022-06-26 23:07
143226  V02Q1940946   28.1      75.0  2022-06-26 23:07
143227  V02Q1940871   28.6      73.0  2022-06-26 23:07
S-DoT_NATURE_2022.06.20-06.26.csv → 병합 완료

📄 S-DoT_NATURE_2022.06.27-07.03.csv → 행 개수: 159540

📄 S-DoT_NATURE_2022.06.27-07.03.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
159535  V02Q1941000   30.9      61.0  2022-07-03 23:07
159536  V02Q1940955   30.1      63.0  2022-07-03 23:07
159537  V02Q1941006   29.9      67.0  2022-07-03 23:07
159538  V02Q1941013   31.2      62.0  2022-07-03 23:07
159539  V02Q1941015   30.1      65.0  2022-07-03 23:07
S-DoT_NATURE_2022.06.27-07.03.csv → 병합 완료

📄 S-DoT_NATURE_2022.07.04-07.10.csv → 행 개수: 161601

📄 S-DoT_NATURE_2022.07.04-07.10.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
161596  V02Q1940955   29.8      56.0  2022-07-10 23:07
161597  V02Q1940953   30.0      61.0  2022-07-10 23:07
161598  V02Q1940954    NaN       NaN  2022-07-10 23:07
161599  V02Q1941013   30.5      46.0  2022-07-10 23:07
161600  V02Q1941006   30.0      47.0  2022-07-10 23:07
S-DoT_NATURE_2022.07.04-07.10.csv → 병합 완료

📄 S-DoT_NATURE_2022.07.11-07.17.csv → 행 개수: 165735

📄 S-DoT_NATURE_2022.07.11-07.17.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
165730  V02Q1940880   26.2      69.0  2022-07-17 23:07
165731  V02Q1940883   25.1      76.0  2022-07-17 23:07
165732  V02Q1940874   27.2      67.0  2022-07-17 23:07
165733  V02Q1940950   28.0      64.0  2022-07-17 23:07
165734  V02Q1940887   27.1      63.0  2022-07-17 23:07
S-DoT_NATURE_2022.07.11-07.17.csv → 병합 완료

📄 S-DoT_NATURE_2022.07.18-07.24.csv → 행 개수: 157548

📄 S-DoT_NATURE_2022.07.18-07.24.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
157543  V02Q1940952   27.6      80.0  2022-07-24 23:07
157544  V02Q1941013   27.6      78.0  2022-07-24 23:07
157545  V02Q1940948   27.5      79.0  2022-07-24 23:07
157546  V02Q1940944   28.5      71.0  2022-07-24 23:07
157547  V02Q1940955   26.8      82.0  2022-07-24 23:07
S-DoT_NATURE_2022.07.18-07.24.csv → 병합 완료

📄 S-DoT_NATURE_2022.07.25-07.31.csv → 행 개수: 165093

📄 S-DoT_NATURE_2022.07.25-07.31.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
165088  V02Q1941006   25.3      96.0  2022-07-31 23:07
165089  V02Q1940947   25.4      95.0  2022-07-31 23:07
165090  V02Q1940951   25.8      95.0  2022-07-31 23:07
165091  V02Q1940950   25.4      96.0  2022-07-31 23:07
165092  V02Q1940953   25.5      96.0  2022-07-31 23:07
S-DoT_NATURE_2022.07.25-07.31.csv → 병합 완료

📄 S-DoT_NATURE_2022.08.01-08.07.csv → 행 개수: 88697

📄 S-DoT_NATURE_2022.08.01-08.07.csv → 하위 5개 행 미리보기:
               시리얼  기온(℃)  상대습도( %)              등록일자
88692  V02Q1941000   31.7      74.0  2022-08-06 20:07
88693  V02Q1940935   31.1      77.0  2022-08-06 20:07
88694  V02Q1941015   31.3      76.0  2022-08-06 20:07
88695  V02Q1941013   31.7      75.0  2022-08-06 20:07
88696  V02Q1941006   30.7      79.0  2022-08-06 20:07
S-DoT_NATURE_2022.08.01-08.07.csv → 병합 완료

📄 S-DoT_NATURE_2022.08.08-08.14.csv → 행 개수: 161945

📄 S-DoT_NATURE_2022.08.08-08.14.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
161940  V02Q1940952   29.2      79.0  2022-08-14 23:07
161941  V02Q1940943   28.7      80.0  2022-08-14 23:07
161942  V02Q1941006   28.5      81.0  2022-08-14 23:07
161943  V02Q1940950   28.7      80.0  2022-08-14 23:07
161944  V02Q1941015   28.4      82.0  2022-08-14 23:07
S-DoT_NATURE_2022.08.08-08.14.csv → 병합 완료

📄 S-DoT_NATURE_2022.08.15-08.21.csv → 행 개수: 139875

📄 S-DoT_NATURE_2022.08.15-08.21.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
139870  V02Q1940949   29.7      72.0  2022-08-21 23:07
139871  V02Q1940935   29.3      74.0  2022-08-21 23:07
139872  V02Q1941006   28.5      74.0  2022-08-21 23:07
139873  V02Q1941015   29.1      71.0  2022-08-21 23:07
139874  V02Q1941013   29.3      71.0  2022-08-21 23:07
S-DoT_NATURE_2022.08.15-08.21.csv → 병합 완료

📄 S-DoT_NATURE_2022.08.22-08.28.csv → 행 개수: 169893

📄 S-DoT_NATURE_2022.08.22-08.28.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
169888  V02Q1940953   23.8      64.0  2022-08-28 23:07
169889  V02Q1940944   25.2      57.0  2022-08-28 23:07
169890  V02Q1940945   25.0      59.0  2022-08-28 23:07
169891  V02Q1940887   24.4      59.0  2022-08-28 23:07
169892  V02Q1941015   24.7      62.0  2022-08-28 23:07
S-DoT_NATURE_2022.08.22-08.28.csv → 병합 완료

📄 S-DoT_NATURE_2022.08.29-09.04.csv → 행 개수: 167723

📄 S-DoT_NATURE_2022.08.29-09.04.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
167718  V02Q1941000   22.9      95.0  2022-09-04 23:07
167719  V02Q1940944   23.3      94.0  2022-09-04 23:07
167720  V02Q1941015   22.9      95.0  2022-09-04 23:07
167721  V02Q1941013   22.6      98.0  2022-09-04 23:07
167722  V02Q1940868   23.3      94.0  2022-09-04 23:08
S-DoT_NATURE_2022.08.29-09.04.csv → 병합 완료

📄 S-DoT_NATURE_2022.09.05-09.11.csv → 행 개수: 175131

📄 S-DoT_NATURE_2022.09.05-09.11.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
175126  V02Q1940955   24.1      74.0  2022-09-11 23:07
175127  V02Q1941006   24.5      72.0  2022-09-11 23:07
175128  V02Q1941000   24.7      72.0  2022-09-11 23:07
175129  V02Q1941015   23.9      75.0  2022-09-11 23:07
175130  V02Q1941013   26.2      67.0  2022-09-11 23:07
S-DoT_NATURE_2022.09.05-09.11.csv → 병합 완료

📄 S-DoT_NATURE_2022.09.12-09.18.csv → 행 개수: 158739

📄 S-DoT_NATURE_2022.09.12-09.18.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
158734  V02Q1940935   29.4      64.0  2022-09-18 23:07
158735  V02Q1940952   28.7      68.0  2022-09-18 23:07
158736  V02Q1940953   28.0      67.0  2022-09-18 23:07
158737  V02Q1941013   29.1      66.0  2022-09-18 23:07
158738  V02Q1940888   27.9      70.0  2022-09-18 23:07
S-DoT_NATURE_2022.09.12-09.18.csv → 병합 완료

📄 S-DoT_NATURE_2022.09.19-09.25.csv → 행 개수: 167251

📄 S-DoT_NATURE_2022.09.19-09.25.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
167246  V02Q1940954    NaN       NaN  2022-09-25 23:07
167247  V02Q1940955   21.5      54.0  2022-09-25 23:07
167248  V02Q1941015   21.3      59.0  2022-09-25 23:07
167249  V02Q1941000   21.6      55.0  2022-09-25 23:07
167250  V02Q1941006   21.2      58.0  2022-09-25 23:07
S-DoT_NATURE_2022.09.19-09.25.csv → 병합 완료

📄 S-DoT_NATURE_2022.09.26-10.02.csv → 행 개수: 171146

📄 S-DoT_NATURE_2022.09.26-10.02.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
171141  V02Q1941006   18.3      87.0  2022-10-02 23:07
171142  V02Q1941000   19.5      84.0  2022-10-02 23:07
171143  V02Q1941013   19.3      86.0  2022-10-02 23:07
171144  V02Q1941015   18.7      85.0  2022-10-02 23:07
171145  V02Q1940955   19.1      82.0  2022-10-02 23:07
S-DoT_NATURE_2022.09.26-10.02.csv → 병합 완료

📄 S-DoT_NATURE_2022.10.03-10.09.csv → 행 개수: 173038

📄 S-DoT_NATURE_2022.10.03-10.09.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
173033  V02Q1940952   12.6      87.0  2022-10-09 23:07
173034  V02Q1940947   13.1      82.0  2022-10-09 23:07
173035  V02Q1940945   12.7      84.0  2022-10-09 23:07
173036  V02Q1940954    NaN       NaN  2022-10-09 23:07
173037  V02Q1940944   12.8      81.0  2022-10-09 23:07
S-DoT_NATURE_2022.10.03-10.09.csv → 병합 완료

📄 S-DoT_NATURE_2022.10.10-10.16.csv → 행 개수: 167157

📄 S-DoT_NATURE_2022.10.10-10.16.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
167152  V02Q1940889   18.3      63.0  2022-10-16 23:07
167153  V02Q1940886   18.4      66.0  2022-10-16 23:07
167154  V02Q1941015   17.2      71.0  2022-10-16 23:07
167155  V02Q1941013   19.0      67.0  2022-10-16 23:07
167156  V02Q1941006   17.0      72.0  2022-10-16 23:07
S-DoT_NATURE_2022.10.10-10.16.csv → 병합 완료

📄 S-DoT_NATURE_2022.10.17-10.23.csv → 행 개수: 167828

📄 S-DoT_NATURE_2022.10.17-10.23.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
167823  V02Q1941013   14.6      44.0  2022-10-23 23:07
167824  V02Q1940955   13.3      49.0  2022-10-23 23:07
167825  V02Q1940950   14.1      40.0  2022-10-23 23:07
167826  V02Q1940953   13.9      44.0  2022-10-23 23:07
167827  V02Q1940951   13.8      45.0  2022-10-23 23:07
S-DoT_NATURE_2022.10.17-10.23.csv → 병합 완료

📄 S-DoT_NATURE_2022.10.24-10.30.csv → 행 개수: 166608

📄 S-DoT_NATURE_2022.10.24-10.30.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
166603  V02Q1940951   17.4      66.0  2022-10-30 23:07
166604  V02Q1940948   16.3      69.0  2022-10-30 23:07
166605  V02Q1941013   17.5      65.0  2022-10-30 23:07
166606  V02Q1940953   13.7      74.0  2022-10-30 23:07
166607  V02Q1940950   15.0      63.0  2022-10-30 23:08
S-DoT_NATURE_2022.10.24-10.30.csv → 병합 완료

📄 S-DoT_NATURE_2022.10.31-11.06.csv → 행 개수: 167091

📄 S-DoT_NATURE_2022.10.31-11.06.csv → 하위 5개 행 미리보기:
                시리얼  기온(℃)  상대습도( %)              등록일자
167086  V02Q1940955   11.4      59.0  2022-11-06 23:07
167087  V02Q1940952   12.5      57.0  2022-11-06 23:07
167088  V02Q1941013   14.1      50.0  2022-11-06 23:07
167089  V02Q1941015   12.3      58.0  2022-11-06 23:07
167090  V02Q1940843   11.2      58.0  2022-11-06 23:07

In [2]:
merged_2022=pd.read_parquet("merged_2022.parquet")

In [3]:
merged_2022

                 시리얼              등록일자  기온(℃)  상대습도( %)
0        OC3CL200017   2022-01-03 0:07   -3.0      52.0
1        OC3CL200014   2022-01-03 0:07   -2.4      42.0
2        OC3CL200011   2022-01-03 0:07   21.6      85.0
3        OC3CL200029   2022-01-03 0:07   -1.2      44.0
4        OC3CL200027   2022-01-03 0:07   -4.0      37.0
...              ...               ...    ...       ...
7520444  V02Q1941015  2022-12-28 23:07   -2.4      49.0
7520445  V02Q1940954  2022-12-28 23:07    NaN       NaN
7520446  V02Q1940955  2022-12-28 23:07   -2.5      49.0
7520447  V02Q1941000  2022-12-28 23:07   -2.1      48.0
7520448  V02Q1941013  2022-12-28 23:07   -1.2      45.0

[7520449 rows x 4 columns]

In [4]:
df_20221212=pd.read_csv(r"S-DoT_NATURE_2022년(2022.01.03~2023.01.01)\S-DoT_NATURE_2022.12.12-12.13.csv",encoding='cp949')
df_20221229=pd.read_csv(r"S-DoT_NATURE_2022년(2022.01.03~2023.01.01)\S-DoT_NATURE_2022.12.29-01.01.csv",encoding='cp949')
df_20220101=pd.read_csv(r"S-DoT_NATURE_2021년(2021.01.04~2022.01.02)\S-DoT_NATURE_2021.12.27-01.02.csv",encoding='cp949')

In [5]:
df_20221205=pd.read_csv(r"S-DoT_NATURE_2022년(2022.01.03~2023.01.01)\S-DoT_NATURE_2022.12.05-12.11.csv",encoding='cp949', sep='\t')

In [6]:
df_20221205

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),전송시간,등록일자
0,서울시,SDOT001,OC3CL2000087,1,-3.7,40.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.022120e+11,2022-12-05 0:00
1,서울시,SDOT001,OC3CL2000088,1,-3.8,40.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.022120e+11,2022-12-05 0:00
2,서울시,SDOT001,OC3CL2000089,1,-5.4,42.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.022120e+11,2022-12-05 0:00
3,서울시,SDOT001,OC3CL2000090,1,-4.4,41.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.022120e+11,2022-12-05 0:00
4,서울시,SDOT001,OC3CL200010,1,-6.3,57.0,NaN,NaN,NaN,NaN,...,35.0,NaN,NaN,NaN,NaN,NaN,NaN,924.0,2.022120e+11,2022-12-05 0:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560029,서울시,SDOT001,V02Q1940955,3,2.7,47.0,NaN,NaN,NaN,NaN,...,40.0,2.0,5.0,101.0,6.0,11.0,108.0,NaN,2.022120e+11,2022-12-11 23:00
560030,서울시,SDOT001,V02Q1941000,3,2.9,50.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.022120e+11,2022-12-11 23:00
560031,서울시,SDOT001,V02Q1941006,3,2.2,52.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.022120e+11,2022-12-11 23:00
560032,서울시,SDOT001,V02Q1941013,3,3.8,47.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.022120e+11,2022-12-11 23:00
560033,서울시,SDOT001,V02Q1941015,3,2.8,48.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.022120e+11,2022-12-11 23:00

In [7]:
df_20221205=df_20221205[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_20221205

                 시리얼              등록일자  기온(℃)  상대습도( %)
0       OC3CL2000087   2022-12-05 0:00   -3.7      40.0
1       OC3CL2000088   2022-12-05 0:00   -3.8      40.0
2       OC3CL2000089   2022-12-05 0:00   -5.4      42.0
3       OC3CL2000090   2022-12-05 0:00   -4.4      41.0
4        OC3CL200010   2022-12-05 0:00   -6.3      57.0
...              ...               ...    ...       ...
560029   V02Q1940955  2022-12-11 23:00    2.7      47.0
560030   V02Q1941000  2022-12-11 23:00    2.9      50.0
560031   V02Q1941006  2022-12-11 23:00    2.2      52.0
560032   V02Q1941013  2022-12-11 23:00    3.8      47.0
560033   V02Q1941015  2022-12-11 23:00    2.8      48.0

[560034 rows x 4 columns]

In [8]:
df_20221212.head()

,모델번호,시리얼,측정시간,지역,자치구,행정동,온도 최대(℃),온도 평균(℃),온도 최소(℃),습도 최대(%),...,암모니아 최대(pPM),암모니아 평균(pPM),암모니아 최소(pPM),황화수소 최대(pPM),황화수소 평균(pPM),황화수소 최소(pPM),오존 최대(pPM),오존 평균(pPM),오존 최소(pPM),등록일시
0,SDOT001,OC3CL200010,2022-12-12 0:00,parks,Seoul_Grand_Park,meeting_bridge2,-4.6,-4.8,-4.9,100.0,...,0.0,0.0,0.0,0.001,0.0,0.0,NaN,NaN,NaN,2022-12-12 01:03:04AM
1,SDOT001,OC3CL200011,2022-12-12 0:00,parks,Seoul_Grand_Park,valet_parking1,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,2022-12-12 01:03:04AM
2,SDOT001,OC3CL200012,2022-12-12 0:00,traditional_markets,Gwangjin-gu,Hwayang-dong,2.2,1.7,1.1,52.0,...,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,2022-12-12 01:03:04AM
3,SDOT001,OC3CL200013,2022-12-12 0:00,main_street,Jongno-gu,"SAMcheong-dong""",0.1,-0.3,-0.6,60.0,...,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,2022-12-12 01:03:04AM
4,SDOT001,OC3CL200014,2022-12-12 0:00,main_street,Jung-gu,Myeong-dong,4.6,4.1,3.9,51.0,...,0.0,0.0,0.0,0.000,0.0,0.0,NaN,NaN,NaN,2022-12-12 01:03:04AM

In [9]:
# 형식 맞추기
df_20221212.rename(columns={
    '측정시간': '등록일자',
     '온도 평균(℃)' :'기온(℃)',
    '습도 평균(%)':'상대습도( %)'
}, inplace=True)

In [10]:
df_20221212[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']].head()

           시리얼             등록일자  기온(℃)  상대습도( %)
0  OC3CL200010  2022-12-12 0:00   -4.8     100.0
1  OC3CL200011  2022-12-12 0:00    NaN       NaN
2  OC3CL200012  2022-12-12 0:00    1.7      50.0
3  OC3CL200013  2022-12-12 0:00   -0.3      59.0
4  OC3CL200014  2022-12-12 0:00    4.1      50.0

In [11]:
df_20221212=df_20221212[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]

In [12]:
df_20221229.head()

,기관명,모델번호,시리얼,측정시간,지역,자치구,행정동,온도 최대(℃),온도 평균(℃),온도 최소(℃),...,암모니아 최대(ppm),암모니아 평균(ppm),암모니아 최소(ppm),황화수소 최대(ppm),황화수소 평균(ppm),황화수소 최소(ppm),오존 최대(ppm),오존 평균(ppm),오존 최소(ppm),등록일시
0,서울시,SDOT001,V02Q1940541,2022-12-29_12:07:00,residential_area,Jung-gu,Sungin1-dong,-0.5,-0.8,-1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-29 12:07
1,서울시,SDOT001,V02Q1940235,2022-12-29_12:07:00,residential_area,Jungnang-gu,Muk2-dong,-0.2,-1.0,-1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-29 12:07
2,서울시,SDOT001,V02Q1940254,2022-12-29_12:07:00,residential_area,Jungnang-gu,Sinnae2-dong,-0.8,-1.9,-2.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-29 12:07
3,서울시,SDOT001,V02Q1940233,2022-12-29_12:07:00,residential_area,Jungnang-gu,Muk1-dong,-1.5,-1.9,-2.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-29 12:07
4,서울시,SDOT001,V02Q1940172,2022-12-29_12:07:00,roads_and_parks,Jungnang-gu,Myeonmok4-dong,1.3,-0.2,-0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-29 12:07

In [13]:
# 형식 맞추기
df_20221229.rename(columns={
    '측정시간': '등록일자',
     '온도 평균(℃)' :'기온(℃)',
    '습도 평균(%)':'상대습도( %)'
}, inplace=True)

In [14]:
df_20221229['등록일자'] = df_20221229['등록일자'].astype(str).str.replace('_', ' ').str[:16]

In [15]:
df_20221229[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']].head()

           시리얼              등록일자  기온(℃) 상대습도( %)
0  V02Q1940541  2022-12-29 12:07   -0.8       35
1  V02Q1940235  2022-12-29 12:07   -1.0       39
2  V02Q1940254  2022-12-29 12:07   -1.9       44
3  V02Q1940233  2022-12-29 12:07   -1.9       41
4  V02Q1940172  2022-12-29 12:07   -0.2       34

In [16]:
df_20221229=df_20221229[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]

In [17]:
df_20220101.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,소음(dB),진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),전송시간,등록일자
0,서울시,SDOT001,OC3CL200025,1,-11.3,47,NaN,NaN,NaN,NaN,...,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.021120e+11,2021-12-27 0:07
1,서울시,SDOT001,OC3CL200014,1,-10.2,44,NaN,NaN,NaN,NaN,...,58.0,NaN,NaN,NaN,NaN,NaN,NaN,-11.1,2.021120e+11,2021-12-27 0:07
2,서울시,SDOT001,OC3CL200023,1,-10.1,42,NaN,NaN,NaN,NaN,...,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.021120e+11,2021-12-27 0:07
3,서울시,SDOT001,OC3CL200017,1,-10.2,42,NaN,NaN,NaN,NaN,...,62.0,NaN,NaN,NaN,NaN,NaN,NaN,-11.5,2.021120e+11,2021-12-27 0:07
4,서울시,SDOT001,OC3CL200021,1,-10.6,44,NaN,NaN,NaN,NaN,...,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.021120e+11,2021-12-27 0:07

In [18]:
df_20220101 = df_20220101[df_20220101['등록일자'].str.startswith('2022')]

In [19]:
df_20220101[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']].head()

                시리얼             등록일자  기온(℃)  상대습도( %)
121671  OC3CL200011  2022-01-01 0:07   21.6        85
121672  OC3CL200013  2022-01-01 0:07   -8.2        37
121673  OC3CL200017  2022-01-01 0:07   -6.1        33
121674  OC3CL200016  2022-01-01 0:07   -5.8        33
121675  OC3CL200012  2022-01-01 0:07   -5.9        31

In [20]:
df_20220101=df_20220101[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]

In [21]:
df_221214=pd.read_csv(r"S-DoT_NATURE_2022.12.14-12.18.csv",encoding='cp949')
df_221214

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,진동_x(g),진동_y(g),진동_z(g),진동_x 최대(g),진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),전송시간,등록일자,Unnamed: 22
0,서울시,서울시,SDOT001,OC3CL200008,19.0,-7.5,38.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,2.022120e+11,2022-12-14 10:07
1,서울시,서울시,SDOT001,OC3CL200008,29.0,-6.5,36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,2.022120e+11,2022-12-14 10:07
2,서울시,서울시,SDOT001,OC3CL200011,13.0,NaN,NaN,NaN,NaN,NaN,...,54.0,NaN,NaN,NaN,NaN,NaN,NaN,19.0,2.022120e+11,2022-12-14 10:07
3,서울시,서울시,SDOT001,OC3CL200012,0.0,-6.0,34.0,NaN,NaN,NaN,...,59.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.022120e+11,2022-12-14 10:07
4,서울시,서울시,SDOT001,OC3CL200025,0.0,-9.8,48.0,NaN,NaN,NaN,...,69.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.022120e+11,2022-12-14 10:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109991,서울시,서울시,SDOT001,V02Q1940953,1.0,-7.1,46.0,NaN,NaN,NaN,...,48.0,0.09,0.02,0.98,0.14,0.11,1.06,3.0,2.022120e+11,2022-12-18 23:07
109992,서울시,서울시,SDOT001,V02Q1940954,3.0,NaN,NaN,NaN,NaN,NaN,...,54.0,0.08,0.10,1.05,0.13,0.15,1.12,5.0,2.022120e+11,2022-12-18 23:07
109993,서울시,서울시,SDOT001,V02Q1941006,1.0,-7.9,51.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.022120e+11,2022-12-18 23:07
109994,서울시,서울시,SDOT001,V02Q1941015,4.0,-7.5,48.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2.022120e+11,2022-12-18 23:07
109995,서울시,서울시,SDOT001,V02Q1941013,0.0,-6.1,46.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.022120e+11,2022-12-18 23:07

In [22]:
print(df_221214.columns.tolist())

['기관 명', '모델명', '시리얼', '구분', '기온(℃)', '상대습도( %)', '풍향(°)', '풍속(m/s)', '돌풍 풍향(°)', '돌풍 풍속(m/s)', '조도(lux)', '자외선(UVI)', '소음(dB)', '진동_x(g)', '진동_y(g)', '진동_z(g)', '진동_x 최대(g)', '진동_y 최대(g)', '진동_z 최대(g)', '흑구 운도(℃)', '전송시간', '등록일자', 'Unnamed: 22']

In [23]:
# 형식 맞추기
df_221214.rename(columns={
    '시리얼': '모델명',
    '구분': '시리얼',
    '등록일자' :'등록일자x',
     'Unnamed: 22' :'등록일자',
}, inplace=True)

In [24]:
df_221214=df_221214[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_221214

                시리얼              등록일자  기온(℃)  상대습도( %)
0       OC3CL200008  2022-12-14 10:07   19.0      -7.5
1       OC3CL200008  2022-12-14 10:07   29.0      -6.5
2       OC3CL200011  2022-12-14 10:07   13.0       NaN
3       OC3CL200012  2022-12-14 10:07    0.0      -6.0
4       OC3CL200025  2022-12-14 10:07    0.0      -9.8
...             ...               ...    ...       ...
109991  V02Q1940953  2022-12-18 23:07    1.0      -7.1
109992  V02Q1940954  2022-12-18 23:07    3.0       NaN
109993  V02Q1941006  2022-12-18 23:07    1.0      -7.9
109994  V02Q1941015  2022-12-18 23:07    4.0      -7.5
109995  V02Q1941013  2022-12-18 23:07    0.0      -6.1

[109996 rows x 4 columns]

In [25]:
df_220228=pd.read_csv(r"S-DoT_NATURE_2022.02.28-03.06.csv",encoding='cp949')
df_220228.head()

C:\Users\linaa\AppData\Local\Temp\ipykernel_18524\3412720973.py:1: DtypeWarning: Columns (2,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_220228=pd.read_csv(r"S-DoT_NATURE_2022.02.28-03.06.csv",encoding='cp949')

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),전송시간,등록일자,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,서울시,SDOT001,OC3CL200011,1,21.6,85.0,NaN,NaN,NaN,NaN,...,NaN,NaN,16.0,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN
1,서울시,SDOT001,OC3CL200014,1,5.7,89.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6.1,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN
2,서울시,SDOT001,OC3CL200013,1,2.7,100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,3.7,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN
3,서울시,SDOT001,OC3CL200012,1,5.6,79.0,NaN,NaN,NaN,NaN,...,NaN,NaN,5.3,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN
4,서울시,SDOT001,OC3CL200016,1,5.5,86.0,NaN,NaN,NaN,NaN,...,NaN,NaN,5.7,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN

In [26]:
# 기관명이 서울시인 데이터
df_seoul = df_220228[df_220228['기관 명'] == '서울시']

# 기관명이 서울시가 아닌 데이터
df_non_seoul = df_220228[df_220228['기관 명'] != '서울시']

In [27]:
df_seoul.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),전송시간,등록일자,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,서울시,SDOT001,OC3CL200011,1,21.6,85.0,NaN,NaN,NaN,NaN,...,NaN,NaN,16.0,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN
1,서울시,SDOT001,OC3CL200014,1,5.7,89.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6.1,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN
2,서울시,SDOT001,OC3CL200013,1,2.7,100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,3.7,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN
3,서울시,SDOT001,OC3CL200012,1,5.6,79.0,NaN,NaN,NaN,NaN,...,NaN,NaN,5.3,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN
4,서울시,SDOT001,OC3CL200016,1,5.5,86.0,NaN,NaN,NaN,NaN,...,NaN,NaN,5.7,2.022020e+11,2022-02-28 0:07,NaN,NaN,NaN,NaN,NaN

In [28]:
df_seoul=df_seoul[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_seoul

                시리얼              등록일자  기온(℃)  상대습도( %)
0       OC3CL200011   2022-02-28 0:07   21.6      85.0
1       OC3CL200014   2022-02-28 0:07    5.7      89.0
2       OC3CL200013   2022-02-28 0:07    2.7     100.0
3       OC3CL200012   2022-02-28 0:07    5.6      79.0
4       OC3CL200016   2022-02-28 0:07    5.5      86.0
...             ...               ...    ...       ...
108287  V02Q1940949  2022-03-06 23:07    3.8      40.0
108288  V02Q1940951  2022-03-06 23:08    3.6      43.0
108289  V02Q1940952  2022-03-06 23:08    4.0      45.0
108290  V02Q1940954  2022-03-06 23:08    4.0      44.0
108291  V02Q1941015  2022-03-06 23:08    3.4      45.0

[28501 rows x 4 columns]

In [29]:
df_non_seoul.head()

,기관 명,모델명,시리얼,구분,기온(℃),상대습도( %),풍향(°),풍속(m/s),돌풍 풍향(°),돌풍 풍속(m/s),...,진동_y 최대(g),진동_z 최대(g),흑구 운도(℃),전송시간,등록일자,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
25599,SDOT001,OC3CL200010,1,56,91.0,NaN,NaN,NaN,NaN,NaN,...,NaN,4.8,52.0,NaN,NaN,NaN,0.0,0.0,NaN,2022-03-05 0:00
25600,SDOT001,OC3CL200011,1,47,85.0,NaN,NaN,NaN,NaN,NaN,...,NaN,16.4,51.0,NaN,NaN,NaN,0.0,0.0,NaN,2022-03-05 0:00
25601,SDOT001,OC3CL200012,1,55,73.0,NaN,NaN,NaN,NaN,NaN,...,NaN,6.4,51.0,NaN,NaN,NaN,0.0,0.0,NaN,2022-03-05 0:00
25602,SDOT001,OC3CL200013,1,51,97.0,NaN,NaN,NaN,NaN,NaN,...,NaN,6.1,46.0,NaN,NaN,NaN,0.0,0.0,NaN,2022-03-05 0:00
25603,SDOT001,OC3CL200014,1,48,83.0,NaN,NaN,NaN,NaN,NaN,...,NaN,6.9,46.0,NaN,NaN,NaN,0.0,0.0,NaN,2022-03-05 0:00

In [30]:
df_non_seoul.columns.tolist()

['기관 명',
 '모델명',
 '시리얼',
 '구분',
 '기온(℃)',
 '상대습도( %)',
 '풍향(°)',
 '풍속(m/s)',
 '돌풍 풍향(°)',
 '돌풍 풍속(m/s)',
 '조도(lux)',
 '자외선(UVI)',
 '소음(dB)',
 '진동_x(g)',
 '진동_y(g)',
 '진동_z(g)',
 '진동_x 최대(g)',
 '진동_y 최대(g)',
 '진동_z 최대(g)',
 '흑구 운도(℃)',
 '전송시간',
 '등록일자',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26']

In [31]:
# 형식 맞추기
df_non_seoul.rename(columns={
    '기관 명': '모델명',
    '시리얼':'시리얼x',
    '모델명': '시리얼',
    '구분' :'기온(℃)',
     '기온(℃)' :'상대습도( %)',
    '상대습도( %)':'상대습도( %)x',
     'Unnamed: 26':'등록일자',
    '등록일자' :'등록일자x'
}, inplace=True)

C:\Users\linaa\AppData\Local\Temp\ipykernel_18524\1534735523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_non_seoul.rename(columns={

In [32]:
df_non_seoul=df_non_seoul[['시리얼', '등록일자', '기온(℃)', '상대습도( %)']]
df_non_seoul

                시리얼              등록일자  기온(℃)  상대습도( %)
25599   OC3CL200010   2022-03-05 0:00     56      91.0
25600   OC3CL200011   2022-03-05 0:00     47      85.0
25601   OC3CL200012   2022-03-05 0:00     55      73.0
25602   OC3CL200013   2022-03-05 0:00     51      97.0
25603   OC3CL200014   2022-03-05 0:00     48      83.0
...             ...               ...    ...       ...
105385  V02Q1940955  2022-03-05 23:00      2      32.0
105386  V02Q1941000  2022-03-05 23:00      0      33.0
105387  V02Q1941006  2022-03-05 23:00      0      37.0
105388  V02Q1941013  2022-03-05 23:00      1      34.0
105389  V02Q1941015  2022-03-05 23:00      5      34.0

[79791 rows x 4 columns]

In [49]:
merged_2022 = pd.concat([merged_2022,df_20220101,df_20221205,df_20221212,df_221214, df_20221229,df_seoul,df_non_seoul], ignore_index=True)

In [50]:
merged_2022

                  시리얼              등록일자  기온(℃) 상대습도( %)
0         OC3CL200017   2022-01-03 0:07   -3.0     52.0
1         OC3CL200014   2022-01-03 0:07   -2.4     42.0
2         OC3CL200011   2022-01-03 0:07   21.6     85.0
3         OC3CL200029   2022-01-03 0:07   -1.2     44.0
4         OC3CL200027   2022-01-03 0:07   -4.0     37.0
...               ...               ...    ...      ...
10737394  V02Q1940955  2022-03-05 23:00    2.0     32.0
10737395  V02Q1941000  2022-03-05 23:00    0.0     33.0
10737396  V02Q1941006  2022-03-05 23:00    0.0     37.0
10737397  V02Q1941013  2022-03-05 23:00    1.0     34.0
10737398  V02Q1941015  2022-03-05 23:00    5.0     34.0

[10737399 rows x 4 columns]

In [51]:
non_datetime_values = merged_2022[~merged_2022['등록일자'].astype(str).str.match(r'\d{4}-\d{2}-\d{2}')]
display(non_datetime_values)

Empty DataFrame
Columns: [시리얼, 등록일자, 기온(℃), 상대습도( %)]
Index: []

In [52]:
merged_2022.to_pickle("merged_2022_after.pkl")

In [64]:
merged_2022 = pd.read_pickle("merged_2022_after.pkl")

In [65]:
merged_2022.isnull().sum()

시리얼              0
등록일자             0
기온(℃)       137805
상대습도( %)    126525
dtype: int64

In [66]:
merged_2022[merged_2022.isnull().any(axis=1)]

                  시리얼              등록일자  기온(℃) 상대습도( %)
590691    V02Q1940756   2022-01-27 9:07    NaN      NaN
591776    V02Q1940756  2022-01-27 10:07    NaN      NaN
592852    V02Q1940756  2022-01-27 11:07    NaN      NaN
593952    V02Q1940756  2022-01-27 12:07    NaN      NaN
595026    V02Q1940756  2022-01-27 13:07    NaN      NaN
...               ...               ...    ...      ...
10628937  V02Q1940059  2022-12-31 11:07    NaN      xxx
10628990  V02Q1940954  2022-12-31 11:07    NaN      xxx
10628992  V02Q1940384  2022-12-31 11:07    NaN      xxx
10628997  V02Q1940954  2022-12-31 11:07    NaN      xxx
10629001  V02Q1940384  2022-12-31 11:07    NaN      xxx

[144855 rows x 4 columns]

In [67]:
# 온도/습도 평균이 모두 null인 시리얼별 합산
null_only_serials = (
    merged_2022.groupby("시리얼")[['기온(℃)', '상대습도( %)']]
    .apply(lambda x: x.isnull().all().all())
)

# True인 시리얼만 필터링
null_only_serials = null_only_serials[null_only_serials].index.tolist()

In [68]:
null_only_serials

['OT3CL110000']

In [69]:
# 널값만 있는 시리얼 제거
cleaned_df_2022 = merged_2022[~merged_2022['시리얼'].isin(null_only_serials)]
cleaned_df_2022

                  시리얼              등록일자  기온(℃) 상대습도( %)
0         OC3CL200017   2022-01-03 0:07   -3.0     52.0
1         OC3CL200014   2022-01-03 0:07   -2.4     42.0
2         OC3CL200011   2022-01-03 0:07   21.6     85.0
3         OC3CL200029   2022-01-03 0:07   -1.2     44.0
4         OC3CL200027   2022-01-03 0:07   -4.0     37.0
...               ...               ...    ...      ...
10737394  V02Q1940955  2022-03-05 23:00    2.0     32.0
10737395  V02Q1941000  2022-03-05 23:00    0.0     33.0
10737396  V02Q1941006  2022-03-05 23:00    0.0     37.0
10737397  V02Q1941013  2022-03-05 23:00    1.0     34.0
10737398  V02Q1941015  2022-03-05 23:00    5.0     34.0

[10737398 rows x 4 columns]

In [70]:
cleaned_df_2022.isnull().sum()

시리얼              0
등록일자             0
기온(℃)       137804
상대습도( %)    126524
dtype: int64

In [71]:
# 1. 수치형 변환 (기온, 습도 컬럼을 문자열 → 숫자)
cleaned_df_2022['기온(℃)'] = pd.to_numeric(cleaned_df_2022['기온(℃)'], errors='coerce')
cleaned_df_2022['상대습도( %)'] = pd.to_numeric(cleaned_df_2022['상대습도( %)'], errors='coerce')

C:\Users\linaa\AppData\Local\Temp\ipykernel_18524\2738641596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2022['기온(℃)'] = pd.to_numeric(cleaned_df_2022['기온(℃)'], errors='coerce')
C:\Users\linaa\AppData\Local\Temp\ipykernel_18524\2738641596.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2022['상대습도( %)'] = pd.to_numeric(cleaned_df_2022['상대습도( %)'], errors='coerce')

In [72]:
# 2. 날짜 컬럼이 없다면 추가 (예: 등록일자에서 날짜만 추출)
cleaned_df_2022['날짜'] = pd.to_datetime(cleaned_df_2022['등록일자'], format="%Y-%m-%d %H:%M", errors='coerce').dt.date

C:\Users\linaa\AppData\Local\Temp\ipykernel_18524\4127637917.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2022['날짜'] = pd.to_datetime(cleaned_df_2022['등록일자'], format="%Y-%m-%d %H:%M", errors='coerce').dt.date

In [73]:
# 3. 그룹별 평균 계산 (시리얼 + 날짜)
group_avg = cleaned_df_2022.groupby(['시리얼', '날짜'])[['기온(℃)', '상대습도( %)']].transform('mean')

In [74]:
group_avg

              기온(℃)   상대습도( %)
0         -1.608696  61.347826
1         -0.556522  51.347826
2         21.600000  85.000000
3         -0.386957  52.391304
4         -2.039130  50.434783
...             ...        ...
10737394   7.263889  34.861111
10737395   2.583333  33.972222
10737396   1.388889  36.708333
10737397   3.333333  33.888889
10737398  10.569444  34.555556

[10737398 rows x 2 columns]

In [75]:
# 4. 결측값 채우기
cleaned_df_2022['기온(℃)'] = cleaned_df_2022['기온(℃)'].fillna(group_avg['기온(℃)'])
cleaned_df_2022['상대습도( %)'] = cleaned_df_2022['상대습도( %)'].fillna(group_avg['상대습도( %)'])

# 5. 필요 없다면 날짜 컬럼 삭제
cleaned_df_2022.drop(columns='날짜', inplace=True)

C:\Users\linaa\AppData\Local\Temp\ipykernel_18524\3503428582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2022['기온(℃)'] = cleaned_df_2022['기온(℃)'].fillna(group_avg['기온(℃)'])
C:\Users\linaa\AppData\Local\Temp\ipykernel_18524\3503428582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2022['상대습도( %)'] = cleaned_df_2022['상대습도( %)'].fillna(group_avg['상대습도( %)'])
C:\Users\linaa\AppData\Local\Temp\ipykernel_18524\3503428582.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df_2022.drop(columns='날짜', inplace=True)

In [76]:
cleaned_df_2022

                  시리얼              등록일자  기온(℃)  상대습도( %)
0         OC3CL200017   2022-01-03 0:07   -3.0      52.0
1         OC3CL200014   2022-01-03 0:07   -2.4      42.0
2         OC3CL200011   2022-01-03 0:07   21.6      85.0
3         OC3CL200029   2022-01-03 0:07   -1.2      44.0
4         OC3CL200027   2022-01-03 0:07   -4.0      37.0
...               ...               ...    ...       ...
10737394  V02Q1940955  2022-03-05 23:00    2.0      32.0
10737395  V02Q1941000  2022-03-05 23:00    0.0      33.0
10737396  V02Q1941006  2022-03-05 23:00    0.0      37.0
10737397  V02Q1941013  2022-03-05 23:00    1.0      34.0
10737398  V02Q1941015  2022-03-05 23:00    5.0      34.0

[10737398 rows x 4 columns]

In [77]:
group_avg.isnull().sum()

기온(℃)       132614
상대습도( %)    135428
dtype: int64

In [78]:
cleaned_df_2022.isnull().sum()

시리얼              0
등록일자             0
기온(℃)       132614
상대습도( %)    135428
dtype: int64

In [79]:
null_rows_2022 =cleaned_df_2022[cleaned_df_2022.isnull().any(axis=1)]
null_rows_2022

                  시리얼              등록일자  기온(℃)  상대습도( %)
606991    V02Q1940756   2022-01-28 0:07    NaN       NaN
608095    V02Q1940756   2022-01-28 1:07    NaN       NaN
608720    V02Q1940756   2022-01-28 3:07    NaN       NaN
609696    V02Q1940756   2022-01-28 4:07    NaN       NaN
610776    V02Q1940756   2022-01-28 5:07    NaN       NaN
...               ...               ...    ...       ...
10628937  V02Q1940059  2022-12-31 11:07    NaN       NaN
10628990  V02Q1940954  2022-12-31 11:07    NaN       NaN
10628992  V02Q1940384  2022-12-31 11:07    NaN       NaN
10628997  V02Q1940954  2022-12-31 11:07    NaN       NaN
10629001  V02Q1940384  2022-12-31 11:07    NaN       NaN

[139298 rows x 4 columns]

In [81]:
null_by_serial = (
    null_rows_2022
    .groupby("시리얼")[['기온(℃)', '상대습도( %)']]
    .apply(lambda x: x.isnull().sum())
)

# 총 결측 수 계산
null_by_serial['총 결측 수'] = null_by_serial.sum(axis=1)

# 정렬
null_by_serial = null_by_serial.sort_values(by='총 결측 수', ascending=False)
null_by_serial

             기온(℃)  상대습도( %)  총 결측 수
시리얼
OC3CL200011   7723      8023   15746
OC3CL200017   5781      6075   11856
V02Q1940946   5741      6047   11788
V02Q1940423   5746      6040   11786
V02Q1940059   5733      6027   11760
V02Q1940700   5727      6027   11754
V02Q1940954   5705      5996   11701
V02Q1940703   5693      5993   11686
V02Q1940568   5662      5962   11624
OC3CL200126   5251      5545   10796
V02Q1940055   5124      5418   10542
V02Q1940505   5231      5231   10462
V02Q1940093   5031      5325   10356
OC3CL210100   4991      5294   10285
V02Q1940384   4972      5266   10238
V02Q1940728   4949      5243   10192
V02Q1940444   4932      5229   10161
V02Q1940856   4932      5226   10158
V02Q1940589   4911      5214   10125
V02Q1940129   4592      4763    9355
V02Q1940587   4462      4765    9227
V02Q1940437   3588      3885    7473
V02Q1940824   3526      3820    7346
V02Q1940352   2991      3051    6042
V02Q1940756   2335      2377    4712
V02Q1940421   1482      1653    3135
V02Q1940530    846       846    1692
OC3CL200062    739       739    1478
OC3CL200245    174       174     348
OC3CL200225    303         0     303
V02Q1940579    303         0     303
V02Q1940226    303         0     303
V02Q1940519    300         0     300
OC3CL200040    297         0     297
V02Q1940068    297         0     297
V02Q1940239    297         0     297
V02Q1940130    297         0     297
V02Q1940150    297         0     297
V02Q1940654    297         0     297
V02Q1940816    294         0     294
V02Q1940473    294         0     294
V02Q1940079    291         0     291
V02Q1940574     58        58     116
V02Q1940951     58        58     116
V02Q1940851     21        21      42
V02Q1940511     15        15      30
V02Q1940553      6         6      12
V02Q1940688      6         6      12
V02Q1940540      2         2       4
V02Q1940873      2         2       4
V02Q1940942      2         2       4
V02Q1940357      1         1       2
V02Q1940672      1         1       2
V02Q1940134      1         1       2
OT3CL180000      1         1       2

In [82]:
# 시리얼별 전체 측정 횟수
total_count_by_serial = cleaned_df_2022['시리얼'].value_counts().sort_index()

# 결측률 (%) 계산
partial_nulls = null_by_serial.copy()
partial_nulls['총 행 수'] = total_count_by_serial* 2
partial_nulls['결측률 (%)'] = (partial_nulls['총 결측 수'] / (partial_nulls['총 행 수'])) * 100

In [83]:
partial_nulls

             기온(℃)  상대습도( %)  총 결측 수  총 행 수    결측률 (%)
시리얼
OC3CL200011   7723      8023   15746  19688  79.977651
OC3CL200017   5781      6075   11856  19722  60.115607
V02Q1940946   5741      6047   11788  19622  60.075426
V02Q1940423   5746      6040   11786  19504  60.428630
V02Q1940059   5733      6027   11760  19582  60.055153
V02Q1940700   5727      6027   11754  19528  60.190496
V02Q1940954   5705      5996   11701  19714  59.353759
V02Q1940703   5693      5993   11686  19426  60.156491
V02Q1940568   5662      5962   11624  19498  59.616371
OC3CL200126   5251      5545   10796  19458  55.483606
V02Q1940055   5124      5418   10542  19526  53.989552
V02Q1940505   5231      5231   10462  17932  58.342628
V02Q1940093   5031      5325   10356  19566  52.928550
OC3CL210100   4991      5294   10285  17156  59.949872
V02Q1940384   4972      5266   10238  19562  52.336162
V02Q1940728   4949      5243   10192  19514  52.229169
V02Q1940444   4932      5229   10161  19528  52.032978
V02Q1940856   4932      5226   10158  16492  61.593500
V02Q1940589   4911      5214   10125  19446  52.067263
V02Q1940129   4592      4763    9355  19676  47.545233
V02Q1940587   4462      4765    9227  16934  54.488012
V02Q1940437   3588      3885    7473  19540  38.244626
V02Q1940824   3526      3820    7346  17678  41.554474
V02Q1940352   2991      3051    6042  19638  30.766881
V02Q1940756   2335      2377    4712  19486  24.181464
V02Q1940421   1482      1653    3135  19504  16.073626
V02Q1940530    846       846    1692   7426  22.784810
OC3CL200062    739       739    1478  19540   7.563971
OC3CL200245    174       174     348  19612   1.774424
OC3CL200225    303         0     303  12048   2.514940
V02Q1940579    303         0     303  19552   1.549714
V02Q1940226    303         0     303  19314   1.568810
V02Q1940519    300         0     300  19402   1.546232
OC3CL200040    297         0     297  19288   1.539818
V02Q1940068    297         0     297  19676   1.509453
V02Q1940239    297         0     297  19614   1.514225
V02Q1940130    297         0     297  19438   1.527935
V02Q1940150    297         0     297  19150   1.550914
V02Q1940654    297         0     297  19240   1.543659
V02Q1940816    294         0     294  17190   1.710297
V02Q1940473    294         0     294  19332   1.520795
V02Q1940079    291         0     291  18864   1.542621
V02Q1940574     58        58     116  14856   0.780829
V02Q1940951     58        58     116  17800   0.651685
V02Q1940851     21        21      42  19662   0.213610
V02Q1940511     15        15      30   8688   0.345304
V02Q1940553      6         6      12  16706   0.071830
V02Q1940688      6         6      12  11536   0.104022
V02Q1940540      2         2       4  17530   0.022818
V02Q1940873      2         2       4  16264   0.024594
V02Q1940942      2         2       4  16592   0.024108
V02Q1940357      1         1       2   7566   0.026434
V02Q1940672      1         1       2  17210   0.011621
V02Q1940134      1         1       2  18442   0.010845
OT3CL180000      1         1       2      4  50.000000

In [84]:
serial_null_2022=partial_nulls.sort_values("결측률 (%)",ascending=False)
serial_null_2022

             기온(℃)  상대습도( %)  총 결측 수  총 행 수    결측률 (%)
시리얼
OC3CL200011   7723      8023   15746  19688  79.977651
V02Q1940856   4932      5226   10158  16492  61.593500
V02Q1940423   5746      6040   11786  19504  60.428630
V02Q1940700   5727      6027   11754  19528  60.190496
V02Q1940703   5693      5993   11686  19426  60.156491
OC3CL200017   5781      6075   11856  19722  60.115607
V02Q1940946   5741      6047   11788  19622  60.075426
V02Q1940059   5733      6027   11760  19582  60.055153
OC3CL210100   4991      5294   10285  17156  59.949872
V02Q1940568   5662      5962   11624  19498  59.616371
V02Q1940954   5705      5996   11701  19714  59.353759
V02Q1940505   5231      5231   10462  17932  58.342628
OC3CL200126   5251      5545   10796  19458  55.483606
V02Q1940587   4462      4765    9227  16934  54.488012
V02Q1940055   5124      5418   10542  19526  53.989552
V02Q1940093   5031      5325   10356  19566  52.928550
V02Q1940384   4972      5266   10238  19562  52.336162
V02Q1940728   4949      5243   10192  19514  52.229169
V02Q1940589   4911      5214   10125  19446  52.067263
V02Q1940444   4932      5229   10161  19528  52.032978
OT3CL180000      1         1       2      4  50.000000
V02Q1940129   4592      4763    9355  19676  47.545233
V02Q1940824   3526      3820    7346  17678  41.554474
V02Q1940437   3588      3885    7473  19540  38.244626
V02Q1940352   2991      3051    6042  19638  30.766881
V02Q1940756   2335      2377    4712  19486  24.181464
V02Q1940530    846       846    1692   7426  22.784810
V02Q1940421   1482      1653    3135  19504  16.073626
OC3CL200062    739       739    1478  19540   7.563971
OC3CL200225    303         0     303  12048   2.514940
OC3CL200245    174       174     348  19612   1.774424
V02Q1940816    294         0     294  17190   1.710297
V02Q1940226    303         0     303  19314   1.568810
V02Q1940150    297         0     297  19150   1.550914
V02Q1940579    303         0     303  19552   1.549714
V02Q1940519    300         0     300  19402   1.546232
V02Q1940654    297         0     297  19240   1.543659
V02Q1940079    291         0     291  18864   1.542621
OC3CL200040    297         0     297  19288   1.539818
V02Q1940130    297         0     297  19438   1.527935
V02Q1940473    294         0     294  19332   1.520795
V02Q1940239    297         0     297  19614   1.514225
V02Q1940068    297         0     297  19676   1.509453
V02Q1940574     58        58     116  14856   0.780829
V02Q1940951     58        58     116  17800   0.651685
V02Q1940511     15        15      30   8688   0.345304
V02Q1940851     21        21      42  19662   0.213610
V02Q1940688      6         6      12  11536   0.104022
V02Q1940553      6         6      12  16706   0.071830
V02Q1940357      1         1       2   7566   0.026434
V02Q1940873      2         2       4  16264   0.024594
V02Q1940942      2         2       4  16592   0.024108
V02Q1940540      2         2       4  17530   0.022818
V02Q1940672      1         1       2  17210   0.011621
V02Q1940134      1         1       2  18442   0.010845

In [85]:
serial_null_2022.to_pickle("serial_null_2022.pkl")

In [86]:
cleaned_df_2022.to_pickle("cleaned_df_2022.pkl")

In [58]:
filtered_df = merged_2023[merged_2023['시리얼'].isin("OC3CL210100")]
filtered_df

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
246,OC3CL210100,2023-01-01_01:03:03,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
1340,OC3CL210100,2023-01-01_02:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
2432,OC3CL210100,2023-01-01_03:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
3526,OC3CL210100,2023-01-01_04:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
4621,OC3CL210100,2023-01-01_05:03:05,Gangdong-gu,Amsa1(il)-dong,NaN,NaN
...,...,...,...,...,...,...
7627818,OC3CL210100,2023-12-31_07:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7628836,OC3CL210100,2023-12-31_08:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7629855,OC3CL210100,2023-12-31_09:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7630875,OC3CL210100,2023-12-31_10:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN
7631932,OC3CL210100,2023-12-31_11:00:00,Gangdong-gu,Amsa1-dong,NaN,NaN