In [53]:
import os
import pandas as pd

In [11]:
df_origin=pd.read_excel("서울시 도시데이터 센서(S-DoT) 환경정보 설치 위치정보.xlsx")

C:\Users\linaa\anaconda3\Lib\site-packages\openpyxl\reader\workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'S-DoT(2024년)'!$1:$1.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

In [12]:
df_origin

,No,모델 시리얼(*),주소,좌표 구분코드,위도,경도,비고
0,1,V02Q1940059,서울특별시 강남구 일원동 688,W84,37.489530,127.075346,NaN
1,2,V02Q1940293,서울특별시 강남구 개포동 1221-3,W84,37.476401,127.048489,NaN
2,3,V02Q1940060,서울특별시 강남구 일원동 735-1,W84,37.483397,127.086234,NaN
3,4,V02Q1940079,서울특별시 강남구 일원동 707,W84,37.494102,127.082209,NaN
4,5,V02Q1940129,서울특별시 강남구 대치동 16-1,W84,37.497656,127.074399,NaN
...,...,...,...,...,...,...,...
1154,1155,OC3CL200169,서울특별시 중랑구 신내동 256-24,W84,37.620270,127.106154,NaN
1155,1156,OC3CL200225,서울특별시 중랑구 묵동 189-11,W84,37.609520,127.072813,NaN
1156,1157,OC3DL2200011,서울특별시 중랑구 면목동 49-10,W84,37.586201,127.094858,NaN
1157,1158,OC3DL2200010,서울특별시 중랑구 상봉동 481-2,W84,37.604117,127.090051,NaN
1158,1159,OC3CL210300,서울특별시 중랑구 신내동 63-10,W84,37.614084,127.101645,NaN

### 1차 전처리한 데이터 불러오기

In [2]:
df_2020=pd.read_pickle("cleaned_df_2020.pkl")
df_2021=pd.read_pickle("cleaned_df_2021.pkl")
df_2022=pd.read_pickle("cleaned_df_2022.pkl")
df_2023=pd.read_pickle("cleaned_df_2023.pkl")
df_2024=pd.read_pickle("cleaned_df_2024.pkl")

In [3]:
df_2020

                 시리얼              등록일자  기온(℃)  상대습도( %)
0        V02Q1940043  2020-11-09 12:43   10.4      21.0
1        V02Q1940044  2020-11-09 12:43    7.7      24.0
2        V02Q1940046  2020-11-09 12:43   10.2      23.0
3        V02Q1940047  2020-11-09 12:43   10.0      21.0
4        V02Q1940045  2020-11-09 12:43    7.4      24.0
...              ...               ...    ...       ...
5346283  V02Q1940954  2020-11-08 23:00    7.1      31.0
5346284  V02Q1940955  2020-11-08 23:00    6.3      34.0
5346285  V02Q1941006  2020-11-08 23:00    5.9      37.0
5346286  V02Q1941013  2020-11-08 23:00    7.4      36.0
5346287  V02Q1941015  2020-11-08 23:00    6.1      34.0

[5346148 rows x 4 columns]

In [4]:
df_2021

                 시리얼                    등록일자  기온(℃)  상대습도( %)
0        OC3CL200014  2021-09-30 01:03:08 PM   24.1      80.0
1        OC3CL200011  2021-09-30 01:03:08 PM   21.6      88.0
2        OC3CL200012  2021-09-30 01:03:08 PM   26.9      59.0
3        OC3CL200013  2021-09-30 01:03:08 PM   27.6      68.0
4        OC3CL200016  2021-09-30 01:03:08 PM   23.6      84.0
...              ...                     ...    ...       ...
9836572  V02Q1940955        2021-11-14 23:00   12.1      60.0
9836573  V02Q1941000        2021-11-14 23:00   12.4      63.0
9836574  V02Q1941006        2021-11-14 23:00   12.4      63.0
9836575  V02Q1941013        2021-11-14 23:00   11.7      64.0
9836576  V02Q1941015        2021-11-14 23:00   11.4      68.0

[9836577 rows x 4 columns]

In [5]:
df_2022

                  시리얼              등록일자  기온(℃)  상대습도( %)
0         OC3CL200017   2022-01-03 0:07   -3.0      52.0
1         OC3CL200014   2022-01-03 0:07   -2.4      42.0
2         OC3CL200011   2022-01-03 0:07   21.6      85.0
3         OC3CL200029   2022-01-03 0:07   -1.2      44.0
4         OC3CL200027   2022-01-03 0:07   -4.0      37.0
...               ...               ...    ...       ...
10737394  V02Q1940955  2022-03-05 23:00    2.0      32.0
10737395  V02Q1941000  2022-03-05 23:00    0.0      33.0
10737396  V02Q1941006  2022-03-05 23:00    0.0      37.0
10737397  V02Q1941013  2022-03-05 23:00    1.0      34.0
10737398  V02Q1941015  2022-03-05 23:00    5.0      34.0

[10737398 rows x 4 columns]

In [6]:
df_2023

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,OC3CL200010,2023-01-01_01:03:03,Seoul_Grand_Park,meeting_bridge2,-1.50,100.0
2,OC3CL200012,2023-01-01_01:03:03,Gwangjin-gu,Hwayang-dong,2.10,67.0
3,OC3CL200013,2023-01-01_01:03:03,Jongno-gu,Samcheong-dong,1.40,70.0
4,OC3CL200014,2023-01-01_01:03:03,Jung-gu,Myeong-dong,4.70,78.0
5,OC3CL200016,2023-01-01_01:03:03,Gangnam-gu,Apgujeong-dong,-40.00,69.0
...,...,...,...,...,...,...
7632583,OC3CL200250,2023-12-31_07:00:00,Gangbuk-gu,Beon3-dong,0.09,100.0
7632584,OC3CL200250,2023-12-31_08:00:00,Gangbuk-gu,Beon3-dong,0.05,100.0
7632585,OC3CL200250,2023-12-31_09:00:00,Gangbuk-gu,Beon3-dong,0.08,100.0
7632586,OC3CL200250,2023-12-31_10:00:00,Gangbuk-gu,Beon3-dong,0.02,100.0
7632587,OC3CL200250,2023-12-31_11:00:00,Gangbuk-gu,Beon3-dong,0.09,100.0

In [7]:
df_2024

,시리얼,측정시간,자치구,행정동,온도 평균(℃),습도 평균(%)
0,V02Q1940307,2024-01-01_12:07:00,Jungnang-gu,Myeonmok3.8-dong,2.2,87.0
1,V02Q2300004,2024-01-01_12:07:00,Eunpyeong-gu,Bulgwang2-dong,-1.6,91.0
2,OC3CL210300,2024-01-01_12:07:00,Jungnang-gu,Seongnae1-dong,-0.3,100.0
3,V02Q1940254,2024-01-01_12:07:00,Jungnang-gu,Sinnae2-dong,0.7,92.0
4,V02Q1940311,2024-01-01_12:07:00,Jungnang-gu,Junghwa1-dong,2.6,85.0
...,...,...,...,...,...,...
9380894,V02Q1940747,2024-06-30_11:07:00,Dongjak-gu,Sang-do1-dong,24.2,81.0
9380895,V02Q1940605,2024-06-30_11:07:00,Mapo-gu,Seogyo-dong,24.7,81.0
9380896,OC3CL200076,2024-06-30_11:07:00,Seocho-gu,Seocho3-dong,24.8,82.0
9380897,V02Q1940357,2024-06-30_11:07:00,Dongjak-gu,Heukseok-dong,24.1,79.0
9380898,V02Q1940432,2024-06-30_11:07:00,Dongjak-gu,Sindaebang1-dong,24.5,82.0

### 데이터 형식 표준화

In [8]:

def standardize(df, year):
    df = df.copy()
    
    if year in [2020, 2021, 2022]:
        df.rename(columns={
            '등록일자': '측정시간',
            '기온(℃)': '온도 평균(℃)',
            '상대습도( %)': '습도 평균(%)'
        }, inplace=True)
        df['측정시간'] = pd.to_datetime(df['측정시간'], errors='coerce')

    elif year in [2023, 2024]:
        df.rename(columns={
            '온도 평균(℃)': '온도 평균(℃)',
            '습도 평균(%)': '습도 평균(%)'
        }, inplace=True)
        # 여기에 날짜 형식 지정
        df['측정시간'] = pd.to_datetime(df['측정시간'], format="%Y-%m-%d_%H:%M:%S", errors='coerce')

    df['온도 평균(℃)'] = pd.to_numeric(df['온도 평균(℃)'], errors='coerce')
    df['습도 평균(%)'] = pd.to_numeric(df['습도 평균(%)'], errors='coerce')

    # 측정시간 기준 오름차순 정렬
    df = df.sort_values(by='측정시간', ascending=True)
    
    return df[['시리얼', '측정시간', '온도 평균(℃)', '습도 평균(%)']]

In [9]:
df_2020_std = standardize(df_2020, 2020)
df_2021_std = standardize(df_2021, 2021)
df_2022_std = standardize(df_2022, 2022)
df_2023_std = standardize(df_2023, 2023)
df_2024_std = standardize(df_2024, 2024)

C:\Users\linaa\AppData\Local\Temp\ipykernel_18156\1696070046.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['측정시간'] = pd.to_datetime(df['측정시간'], errors='coerce')

In [10]:
df_2020_std

                 시리얼                측정시간   온도 평균(℃)  습도 평균(%)
1253600  V02Q1940802 2020-04-01 01:00:00  13.800000      36.0
1299521  V02Q1940336 2020-04-01 01:00:00  11.300000      42.0
1390153  V02Q1940244 2020-04-01 01:00:00  12.200000      49.0
1281277  V02Q1940173 2020-04-01 01:00:00  12.500000      45.0
1047730  V02Q1940777 2020-04-01 01:00:00  13.100000      36.0
...              ...                 ...        ...       ...
859592   V02Q1940386 2021-01-03 23:07:00   0.885714      34.0
859593   V02Q1940380 2021-01-03 23:07:00   0.285714      39.0
859594   V02Q1940378 2021-01-03 23:07:00   0.150000      37.0
859585   V02Q1940377 2021-01-03 23:07:00        NaN      44.0
860099   V02Q1941006 2021-01-03 23:07:00   0.100000      39.0

[5346148 rows x 4 columns]

In [11]:
df_2021_std

                 시리얼                측정시간  온도 평균(℃)  습도 평균(%)
72642    V02Q1940699 2021-01-04 00:07:00  1.720000      38.0
72584    V02Q1940639 2021-01-04 00:07:00  1.875000      33.0
72585    V02Q1940640 2021-01-04 00:07:00  1.500000      35.0
72586    V02Q1940642 2021-01-04 00:07:00  1.409091      34.0
72587    V02Q1940644 2021-01-04 00:07:00  1.522222      33.0
...              ...                 ...       ...       ...
8755737  V02Q1940165 2022-01-02 23:07:00 -1.500000      37.0
8755736  V02Q1940163 2022-01-02 23:07:00 -2.000000      38.0
8755735  V02Q1940164 2022-01-02 23:07:00 -0.900000      38.0
8755741  V02Q1940170 2022-01-02 23:07:00 -0.900000      34.0
8756464  V02Q1940954 2022-01-02 23:07:00 -0.800000      40.0

[9836577 rows x 4 columns]

In [12]:
df_2022_std

                 시리얼                측정시간  온도 평균(℃)  습도 평균(%)
9629706  V02Q1940542 2022-01-01 00:07:00      -6.3      36.0
8520919  V02Q1940155 2022-01-01 00:07:00      -7.7      38.0
8520918  V02Q1940154 2022-01-01 00:07:00      -5.0      30.0
8520917  V02Q1940153 2022-01-01 00:07:00      -8.5      47.0
8520916  V02Q1940151 2022-01-01 00:07:00      -6.5      37.0
...              ...                 ...       ...       ...
8470256  V02Q1940233 2022-12-31 12:07:00      -0.4      54.0
8470257  V02Q1940233 2022-12-31 12:07:00      -0.4      54.0
8470258  OC3DL220000 2022-12-31 12:07:00      -0.2      47.0
8470260  OC3CL200169 2022-12-31 12:07:00      -1.7     100.0
9474544  V02Q1940747 2022-12-31 12:07:00       1.8      49.0

[10737398 rows x 4 columns]

In [13]:
df_2023_std

                 시리얼                측정시간  온도 평균(℃)  습도 평균(%)
0        OC3CL200010 2023-01-01 01:03:03     -1.50     100.0
719      V02Q1940524 2023-01-01 01:03:03      5.10      55.0
720      V02Q1940525 2023-01-01 01:03:03      3.50      62.0
721      V02Q1940526 2023-01-01 01:03:03      2.10      70.0
722      V02Q1940527 2023-01-01 01:03:03      3.70      61.0
...              ...                 ...       ...       ...
7621253  V02Q1940756 2023-12-31 12:00:00       NaN       NaN
7621252  V02Q1940278 2023-12-31 12:00:00      0.01      72.0
7621251  V02Q1940382 2023-12-31 12:00:00      0.00      73.0
7621260  V02Q1940389 2023-12-31 12:00:00      0.04      73.0
7608763  OC3CL200019 2023-12-31 12:00:00      0.02     100.0

[7503523 rows x 4 columns]

In [14]:
df_2024_std

                 시리얼                측정시간  온도 평균(℃)  습도 평균(%)
13456    V02Q1940282 2024-01-01 01:07:00       6.3      71.0
1382     V02Q1940486 2024-01-01 01:07:00       3.4      82.0
1381     V02Q1940693 2024-01-01 01:07:00       2.8      83.0
1380     V02Q1940247 2024-01-01 01:07:00       4.3      76.0
1379     V02Q1940290 2024-01-01 01:07:00       1.8      84.0
...              ...                 ...       ...       ...
8918437  V02Q1940361 2025-01-05 23:07:00       2.6      86.0
8918436  V02Q1940335 2025-01-05 23:07:00       2.8      87.0
8918435  V02Q1940353 2025-01-05 23:07:00       2.4      89.0
8918441  V02Q1940288 2025-01-05 23:07:00       4.1      82.0
8918196  V02Q1940070 2025-01-05 23:07:00       4.7      82.0

[9380682 rows x 4 columns]

### 각 년도에 맞게 데이터가 들어가도록 정리

In [15]:
df_2020_2021part = df_2020_std[df_2020_std['측정시간'].dt.year == 2021]
df_2020_2021part

                시리얼                측정시간  온도 평균(℃)  습도 평균(%)
805221  V02Q1940640 2021-01-01 00:07:00  1.177778      53.0
805223  V02Q1940641 2021-01-01 00:07:00  1.600000      61.0
805222  V02Q1940634 2021-01-01 00:07:00  1.258333      53.0
805235  V02Q1940669 2021-01-01 00:07:00  0.790000      53.0
805219  V02Q1940638 2021-01-01 00:07:00  1.727273      52.0
...             ...                 ...       ...       ...
859592  V02Q1940386 2021-01-03 23:07:00  0.885714      34.0
859593  V02Q1940380 2021-01-03 23:07:00  0.285714      39.0
859594  V02Q1940378 2021-01-03 23:07:00  0.150000      37.0
859585  V02Q1940377 2021-01-03 23:07:00       NaN      44.0
860099  V02Q1941006 2021-01-03 23:07:00  0.100000      39.0

[55338 rows x 4 columns]

In [32]:
df_2020_std = df_2020_std[df_2020_std['측정시간'].dt.year != 2021]

In [17]:
df_2021_std = pd.concat([df_2021_std, df_2020_2021part], ignore_index=True)

In [19]:
df_2021_std = df_2021_std[df_2021_std['측정시간'].dt.year != 2022]

In [20]:
df_2024_std= df_2024_std[df_2024_std['측정시간'].dt.year != 2025]

In [33]:
df_2020_std = df_2020_std.sort_values(by='측정시간', ascending=True).reset_index(drop=True)
df_2020_std

                 시리얼                측정시간  온도 평균(℃)  습도 평균(%)
0        V02Q1940802 2020-04-01 01:00:00      13.8      36.0
1        V02Q1940556 2020-04-01 01:00:00      13.1      37.0
2        V02Q1940255 2020-04-01 01:00:00      14.9      32.0
3        V02Q1940944 2020-04-01 01:00:00      15.5      28.0
4        V02Q1940066 2020-04-01 01:00:00      12.0      48.0
...              ...                 ...       ...       ...
5290805  V02Q1940954 2020-12-31 23:07:00       NaN      50.0
5290806  V02Q1940953 2020-12-31 23:07:00       NaN      52.0
5290807  V02Q1940947 2020-12-31 23:07:00       NaN      51.0
5290808  V02Q1940946 2020-12-31 23:07:00       NaN      56.0
5290809  V02Q1940372 2020-12-31 23:07:00       NaN      46.0

[5290810 rows x 4 columns]

In [34]:
df_2021_std = df_2021_std.sort_values(by='측정시간', ascending=True).reset_index(drop=True)
df_2021_std

                 시리얼                측정시간  온도 평균(℃)  습도 평균(%)
0        V02Q1940367 2021-01-01 00:07:00  2.133333      49.0
1        V02Q1940463 2021-01-01 00:07:00  1.354545      54.0
2        V02Q1940634 2021-01-01 00:07:00  1.258333      53.0
3        V02Q1940669 2021-01-01 00:07:00  0.790000      53.0
4        V02Q1940638 2021-01-01 00:07:00  1.727273      52.0
...              ...                 ...       ...       ...
9845072  V02Q1940176 2021-12-31 23:07:00 -5.200000      33.0
9845073  V02Q1940175 2021-12-31 23:07:00 -4.800000      31.0
9845074  V02Q1940177 2021-12-31 23:07:00 -4.700000      29.0
9845075  V02Q1940178 2021-12-31 23:07:00 -5.100000      31.0
9845076  V02Q1940164 2021-12-31 23:07:00 -4.600000      28.0

[9845077 rows x 4 columns]

In [35]:
df_2022_std = df_2022_std.sort_values(by='측정시간', ascending=True).reset_index(drop=True)
df_2022_std

                  시리얼                측정시간  온도 평균(℃)  습도 평균(%)
0         V02Q1940542 2022-01-01 00:07:00      -6.3      36.0
1         V02Q1940155 2022-01-01 00:07:00      -7.7      38.0
2         V02Q1940154 2022-01-01 00:07:00      -5.0      30.0
3         V02Q1940153 2022-01-01 00:07:00      -8.5      47.0
4         V02Q1940151 2022-01-01 00:07:00      -6.5      37.0
...               ...                 ...       ...       ...
10737393  OC3DL220000 2022-12-31 12:07:00      -1.2      50.0
10737394  OC3DL220000 2022-12-31 12:07:00      -1.2      50.0
10737395  V02Q1940233 2022-12-31 12:07:00      -0.4      54.0
10737396  OC3DL220000 2022-12-31 12:07:00      -0.2      47.0
10737397  V02Q1940747 2022-12-31 12:07:00       1.8      49.0

[10737398 rows x 4 columns]

In [36]:
df_2023_std = df_2023_std.sort_values(by='측정시간', ascending=True).reset_index(drop=True)
df_2023_std

                 시리얼                측정시간  온도 평균(℃)  습도 평균(%)
0        OC3CL200010 2023-01-01 01:03:03     -1.50     100.0
1        V02Q1940526 2023-01-01 01:03:03      2.10      70.0
2        V02Q1940527 2023-01-01 01:03:03      3.70      61.0
3        V02Q1940528 2023-01-01 01:03:03      4.90      55.0
4        V02Q1940529 2023-01-01 01:03:03      1.70      70.0
...              ...                 ...       ...       ...
7503518  V02Q1940278 2023-12-31 12:00:00      0.01      72.0
7503519  V02Q1940382 2023-12-31 12:00:00      0.00      73.0
7503520  OC3CL200203 2023-12-31 12:00:00      0.08     100.0
7503521  V02Q1940313 2023-12-31 12:00:00      0.03      71.0
7503522  OC3CL200019 2023-12-31 12:00:00      0.02     100.0

[7503523 rows x 4 columns]

In [37]:
df_2024_std = df_2024_std.sort_values(by='측정시간', ascending=True).reset_index(drop=True)
df_2024_std

                 시리얼                측정시간  온도 평균(℃)  습도 평균(%)
0        V02Q1940282 2024-01-01 01:07:00       6.3      71.0
1        OC3CL200128 2024-01-01 01:07:00      -4.9     100.0
2        OC3CL200113 2024-01-01 01:07:00       0.6      89.0
3        V02Q1940486 2024-01-01 01:07:00       3.4      82.0
4        V02Q1940693 2024-01-01 01:07:00       2.8      83.0
...              ...                 ...       ...       ...
9237662  V02Q1940155 2024-12-31 23:07:00      -1.3      54.0
9237663  V02Q1940156 2024-12-31 23:07:00       1.1      48.0
9237664  V02Q1940161 2024-12-31 23:07:00       2.8      47.0
9237665  V02Q1940138 2024-12-31 23:07:00       1.8      48.0
9237666  V02Q1940150 2024-12-31 23:07:00      -0.1      53.0

[9237667 rows x 4 columns]

In [39]:
#parquet파일로 저장

df_2020_std.to_parquet("df_2020_std.parquet", index=False)
df_2021_std.to_parquet("df_2021_std.parquet", index=False)
df_2022_std.to_parquet("df_2022_std.parquet", index=False)
df_2023_std.to_parquet("df_2023_std.parquet", index=False)
df_2024_std.to_parquet("df_2024_std.parquet", index=False)

### 결측치 계산

In [40]:
def analyze_serial_null_ratio(df, sort_desc=True):
    """
    시리얼별 온도/습도 결측률 계산 함수.
    
    Parameters:
        df: 정제된 DataFrame (ex: df_2024_std)
        sort_desc: 결측률 정렬 방향 (기본값은 내림차순)
        
    Returns:
        결측률 정보가 담긴 DataFrame
    """
    # 총 행 수
    total_counts = df.groupby('시리얼').size()
    
    # 컬럼별 결측 수
    temp_nulls = df['온도 평균(℃)'].isnull().groupby(df['시리얼']).sum()
    humid_nulls = df['습도 평균(%)'].isnull().groupby(df['시리얼']).sum()
    
    # 데이터프레임 구성
    result = pd.DataFrame({
        '온도 평균(℃)': temp_nulls,
        '습도 평균(%)': humid_nulls,
        '총 결측 수': temp_nulls + humid_nulls,
        '총 행 수': total_counts
    })
    
    # 결측률 계산 (온도/습도 두 컬럼 기준)
    result['결측률 (%)'] = (result['총 결측 수'] / (result['총 행 수'] * 2)) * 100
    result = result.fillna(0)
    
    return result.sort_values(by='결측률 (%)', ascending=not sort_desc)

#### 2020

In [41]:
partial_nulls_2020 = analyze_serial_null_ratio(df_2020_std)
partial_nulls_2020

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940503      1588      1657    3245   6396  25.367417
V02Q1940564      1509      1578    3087   6358  24.276502
V02Q1940274      1443      1512    2955   6276  23.542065
V02Q1940466      1020      1089    2109   6266  16.828918
V02Q1940824       827       896    1723   6082  14.164748
...               ...       ...     ...    ...        ...
V02Q1940154         0         0       0    804   0.000000
V02Q1940151         0         0       0   6034   0.000000
V02Q1940146         0         0       0    987   0.000000
V02Q1940865         0         0       0   4457   0.000000
OT2CL200002         0         0       0      1   0.000000

[859 rows x 5 columns]

In [49]:
partial_nulls_2020[partial_nulls_2020['결측률 (%)'] > 0]

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940503      1588      1657    3245   6396  25.367417
V02Q1940564      1509      1578    3087   6358  24.276502
V02Q1940274      1443      1512    2955   6276  23.542065
V02Q1940466      1020      1089    2109   6266  16.828918
V02Q1940824       827       896    1723   6082  14.164748
...               ...       ...     ...    ...        ...
V02Q1940247        21         0      21   4652   0.225709
V02Q1940710        24         0      24   6369   0.188413
V02Q1940796        24         0      24   6376   0.188206
V02Q1941000         1         1       2    809   0.123609
V02Q1940303         1         0       1   6001   0.008332

[830 rows x 5 columns]

#### 2021

In [42]:
partial_nulls_2021 = analyze_serial_null_ratio(df_2021_std)
partial_nulls_2021

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
OC3CL200024      2041      2041    4082   6807  29.983840
OC3CL200126      1532      1532    3064   6267  24.445508
V02Q1940274      2171      2171    4342   9234  23.510938
V02Q1940824      1902      1902    3804   9298  20.456012
V02Q1940466      1608      1608    3216   8941  17.984565
...               ...       ...     ...    ...        ...
OC3CL200247         0         0       0   5841   0.000000
OC3CL200248         0         0       0   6321   0.000000
OC3CL200249         0         0       0   6114   0.000000
OC3CL200250         0         0       0   6161   0.000000
OC3CL200008         0         0       0    457   0.000000

[1103 rows x 5 columns]

In [47]:
partial_nulls_2021[partial_nulls_2021['결측률 (%)'] > 0]

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
OC3CL200024      2041      2041    4082   6807  29.983840
OC3CL200126      1532      1532    3064   6267  24.445508
V02Q1940274      2171      2171    4342   9234  23.510938
V02Q1940824      1902      1902    3804   9298  20.456012
V02Q1940466      1608      1608    3216   8941  17.984565
...               ...       ...     ...    ...        ...
V02Q1940312        57         0      57   9204   0.309648
V02Q1940247        40         0      40   9243   0.216380
V02Q1940838         1         1       2   7301   0.013697
V02Q1940350         2         0       2   8398   0.011908
OC3CL200232         1         0       1   7118   0.007024

[1041 rows x 5 columns]

#### 2022

In [43]:
partial_nulls_2022 = analyze_serial_null_ratio(df_2022_std)
partial_nulls_2022

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
OC3CL200011      7723      8023   15746   9844  79.977651
V02Q1940856      4932      5226   10158   8246  61.593500
V02Q1940423      5746      6040   11786   9752  60.428630
V02Q1940700      5727      6027   11754   9764  60.190496
V02Q1940703      5693      5993   11686   9713  60.156491
...               ...       ...     ...    ...        ...
V02Q1940154         0         0       0   9800   0.000000
V02Q1940155         0         0       0   9792   0.000000
V02Q1940156         0         0       0   9795   0.000000
V02Q1940157         0         0       0   9599   0.000000
V02Q1941015         0         0       0   9829   0.000000

[1143 rows x 5 columns]

In [50]:
partial_nulls_2022[partial_nulls_2022['결측률 (%)'] > 0]

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
OC3CL200011      7723      8023   15746   9844  79.977651
V02Q1940856      4932      5226   10158   8246  61.593500
V02Q1940423      5746      6040   11786   9752  60.428630
V02Q1940700      5727      6027   11754   9764  60.190496
V02Q1940703      5693      5993   11686   9713  60.156491
OC3CL200017      5781      6075   11856   9861  60.115607
V02Q1940946      5741      6047   11788   9811  60.075426
V02Q1940059      5733      6027   11760   9791  60.055153
OC3CL210100      4991      5294   10285   8578  59.949872
V02Q1940568      5662      5962   11624   9749  59.616371
V02Q1940954      5705      5996   11701   9857  59.353759
V02Q1940505      5231      5231   10462   8966  58.342628
OC3CL200126      5251      5545   10796   9729  55.483606
V02Q1940587      4462      4765    9227   8467  54.488012
V02Q1940055      5124      5418   10542   9763  53.989552
V02Q1940093      5031      5325   10356   9783  52.928550
V02Q1940384      4972      5266   10238   9781  52.336162
V02Q1940728      4949      5243   10192   9757  52.229169
V02Q1940589      4911      5214   10125   9723  52.067263
V02Q1940444      4932      5229   10161   9764  52.032978
OT3CL180000         1         1       2      2  50.000000
V02Q1940129      4592      4763    9355   9838  47.545233
V02Q1940824      3526      3820    7346   8839  41.554474
V02Q1940437      3588      3885    7473   9770  38.244626
V02Q1940352      2991      3051    6042   9819  30.766881
V02Q1940756      2335      2377    4712   9743  24.181464
V02Q1940530       846       846    1692   3713  22.784810
V02Q1940421      1482      1653    3135   9752  16.073626
OC3CL200062       739       739    1478   9770   7.563971
OC3CL200225       303         0     303   6024   2.514940
OC3CL200245       174       174     348   9806   1.774424
V02Q1940816       294         0     294   8595   1.710297
V02Q1940226       303         0     303   9657   1.568810
V02Q1940150       297         0     297   9575   1.550914
V02Q1940579       303         0     303   9776   1.549714
V02Q1940519       300         0     300   9701   1.546232
V02Q1940654       297         0     297   9620   1.543659
V02Q1940079       291         0     291   9432   1.542621
OC3CL200040       297         0     297   9644   1.539818
V02Q1940130       297         0     297   9719   1.527935
V02Q1940473       294         0     294   9666   1.520795
V02Q1940239       297         0     297   9807   1.514225
V02Q1940068       297         0     297   9838   1.509453
V02Q1940574        58        58     116   7428   0.780829
V02Q1940951        58        58     116   8900   0.651685
V02Q1940511        15        15      30   4344   0.345304
V02Q1940851        21        21      42   9831   0.213610
V02Q1940688         6         6      12   5768   0.104022
V02Q1940553         6         6      12   8353   0.071830
V02Q1940357         1         1       2   3783   0.026434
V02Q1940873         2         2       4   8132   0.024594
V02Q1940942         2         2       4   8296   0.024108
V02Q1940540         2         2       4   8765   0.022818
V02Q1940672         1         1       2   8605   0.011621
V02Q1940134         1         1       2   9221   0.010845

#### 2023

In [44]:
partial_nulls_2023 = analyze_serial_null_ratio(df_2023_std)
partial_nulls_2023

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940437      6747      6747   13494   6828  98.813708
V02Q1940700      7286      7286   14572   7415  98.260283
V02Q1940421      5414      5414   10828   5765  93.911535
V02Q1940055      5913      5913   11826   6338  93.294415
V02Q1940352      5355      5355   10710   6731  79.557272
...               ...       ...     ...    ...        ...
V02Q1940166         0         0       0   7386   0.000000
V02Q1940167         0         0       0   7293   0.000000
V02Q1940168         0         0       0   7370   0.000000
V02Q1940169         0         0       0   7351   0.000000
V02Q2300007         0         0       0    381   0.000000

[1116 rows x 5 columns]

In [51]:
partial_nulls_2023[partial_nulls_2023['결측률 (%)'] > 0]

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940437      6747      6747   13494   6828  98.813708
V02Q1940700      7286      7286   14572   7415  98.260283
V02Q1940421      5414      5414   10828   5765  93.911535
V02Q1940055      5913      5913   11826   6338  93.294415
V02Q1940352      5355      5355   10710   6731  79.557272
...               ...       ...     ...    ...        ...
V02Q1940150         1         1       2   5648   0.017705
V02Q1940473         1         1       2   5816   0.017194
V02Q1940579         1         1       2   5825   0.017167
V02Q1940519         1         1       2   5872   0.017030
V02Q1940068         1         1       2   5944   0.016824

[76 rows x 5 columns]

#### 2024

In [45]:
partial_nulls_2024 = analyze_serial_null_ratio(df_2024_std)
partial_nulls_2024

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940505      7581      7581   15162   7612  99.592748
V02Q1940587       217       217     434    218  99.541284
V02Q1940059      9156      9156   18312   9204  99.478488
V02Q1940423      9039      9039   18078   9087  99.471773
OC3CL210100      8990      8990   17980   9038  99.468909
...               ...       ...     ...    ...        ...
V02Q1940360         0         0       0   8387   0.000000
V02Q1940361         0         0       0   8971   0.000000
V02Q1940363         0         0       0   7979   0.000000
V02Q1940364         0         0       0   8184   0.000000
V02Q1940347         0         0       0   9024   0.000000

[1128 rows x 5 columns]

In [52]:
partial_nulls_2024[partial_nulls_2024['결측률 (%)'] > 0]

             온도 평균(℃)  습도 평균(%)  총 결측 수  총 행 수    결측률 (%)
시리얼
V02Q1940505      7581      7581   15162   7612  99.592748
V02Q1940587       217       217     434    218  99.541284
V02Q1940059      9156      9156   18312   9204  99.478488
V02Q1940423      9039      9039   18078   9087  99.471773
OC3CL210100      8990      8990   17980   9038  99.468909
...               ...       ...     ...    ...        ...
V02Q1940681         1         1       2   7081   0.014122
V02Q1940130         1         1       2   7964   0.012557
V02Q1940157         1         1       2   8025   0.012461
V02Q1940816         1         1       2   8922   0.011208
V02Q1940516         0         1       1   7994   0.006255

[371 rows x 5 columns]

In [61]:
partial_nulls_2024.to_csv("serial_nulls_2024_2.csv", encoding='utf-8-sig')

In [62]:
partial_nulls_2023.to_csv("serial_nulls_2023_2.csv", encoding='utf-8-sig')

In [63]:
partial_nulls_2022.to_csv("serial_nulls_2022_2.csv", encoding='utf-8-sig')

In [64]:
partial_nulls_2021.to_csv("serial_nulls_2021_2.csv", encoding='utf-8-sig')

In [65]:
partial_nulls_2020.to_csv("serial_nulls_2020_2.csv", encoding='utf-8-sig')